h2{
    font-size: 1rem !important;
}
.sb-readImage{
    position: relative;
    top: 3px;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 650px;
    min-height: 650px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.sb-whiteIconBg{
    position: absolute;
    margin-top: -200px;
    left: -27px;
    width: 791px;
    min-width: 791px;
    max-width: 791px;
    height: auto;
    opacity: .2;
    background: url(../../assets/images/qr/spotbie-white-icon.png);
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.sb-whiteIconBg.right{
    left: unset !important;
    right: 27px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.sb-greenIcon{
    position: relative;
    width: 100%;
    min-width: 100%;
    display: block;
    margin-top: -60px;
    margin-bottom: 60px;
    max-height: 50px;
    height: 50px;
    z-index: 1;
}
.sb-logo-withStreet{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
}
.sb-top-headerImg{
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 650px;
    min-height: 650px;
    background: url("../../assets/images/spotbie-miami.jpg");
    box-shadow: inset 0px -80px 65px #332f3e;
    pointer-events: none;
}
.fa-map-marker-alt{
    font-size: .8rem;
}
h4{
    position: relative;/*  */
    margin: 0 auto;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    text-align: center;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 20px;
}

h4::after{
    position: relative;
    width: 100%;
    min-width: 100%;
    min-height: 1px;
    height: 1px;
}

h5{
    position: relative;
    margin: 0 auto;
    min-width: 450px;
    width: 450px;
    max-width: 450px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

p{
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    text-align-last: center;
    color: white;
    max-width: 800px;
    width: 800px;
    min-width: 800px;
}
.sb-homePageIconsTable{
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    display: table;
    table-layout: fixed;
}
.sb-homePageIconsTable div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    width: 25%;
    min-width: 25%;
    font-size: .7rem;
    cursor: pointer;
}
.sb-homePageIconsTable img{
    max-width: 100px;
    width: 100px;
}
.sb-footer p{
    text-align: center !important;
}
h1{
  font-size: 1.5rem;
}
@media (max-width: 840px) {
    p{
        width: 90%;
        max-width: 90%;
        min-width: 90%;
    }
    h4{
        text-align: center;
    }
    h5{
        font-size: 0.9rem;
        min-width: 90%;
        width: 90%;
        max-width: 90%;
    }
    .sb-logo-withStreet {
        max-width: 150px!important;
        min-width: 150px!important;
        width: 150px!important;
    }
}
@media (max-width: 768px){
    .sb-top-headerImg{
        max-height: 300px;
        min-height: 300px;
        height: 300px;
    }
    .sb-readImage{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        height: 300px;
        min-height: 300px;
    }
    .sb-whiteIconBg{
        display: none;
    }
}
@media (max-width: 300px) {
    .sb-homePageIconsTable{
        max-width: 90%;
        min-width: 90%;
        width: 90%;
    }
    .sb-homePageIconsTable img{
        width: 70px;
        min-width: 70px
    }
}

