<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="spotbie-overlay-window" *ngIf="!adPaidFor && !membershipPaidFor">

    <div class='sb-makePaymentWrapper' [ngStyle]="getPaymentFormStyles()">

        <div class="sb-logo mt-3 mb-3"></div>

        <h3 class="spotbie-text-gradient text-uppercase mb-4">{{ paymentTitle }}</h3>

        <p class="spotbie-text-gradient">
            {{ paymentDescription }}
        </p>

        <div *ngIf="invalidError" style="color:red">
            {{ invalidError.message }}
        </div>

        <stripe-card #stripeCard
            (catch) = "onStripeError($event)"
            [(complete)] = "cardDetailsFilledOut"
            [(invalid)] = "invalidError"
            (cardMounted) = "onCardCaptureReady()">
        </stripe-card>

        <div *ngIf="paymentType == 'in-house'" class="mb-4">
            <h4 class="spotbie-text-gradient text-uppercase mt-4">{{ ad.name }}</h4>

            <h3 class="sb-text-light-green-gradient mt-4">{{ ad.dollar_cost | currency: 'USD'}}/month</h3>

            <img class="sb-adImage" [src]="ad.images" />
        </div>

        <div *ngIf="paymentType == 'business-membership'" class="mb-4">
            <p class="spotbie-text-gradient text-uppercase mt-4">Business Membership $199.99/month</p>

            <p class="sb-text-light-green-gradient mt-4">2,000 LOYALTY POINTS</p>
            <p class="sb-text-light-green-gradient mt-1">No Bonus Loyalty Points</p>
            <p class="sb-text-light-green-gradient mt-1">Default Max Reward Rate</p>
        </div>

        <div *ngIf="paymentType == 'business-membership-1'" class="mb-4">
            <p class="spotbie-text-gradient text-uppercase mt-4">Business Membership $299.99/month</p>

            <p class="sb-text-light-green-gradient mt-4">3,500 LOYALTY POINTS</p>
            <p class="sb-text-light-green-gradient mt-1">500 Bonus Loyalty Points</p>
            <p class="sb-text-light-green-gradient mt-1">+0.01% Max Reward Rate</p>
        </div>

        <div *ngIf="paymentType == 'business-membership-2'" class="mb-4">
            <p class="spotbie-text-gradient text-uppercase mt-4">Business Membership $399.99/month</p>

            <p class="sb-text-light-green-gradient mt-4">4,750 LOYALTY POINTS</p>
            <p class="sb-text-light-green-gradient mt-1">750 Bonus Loyalty Points</p>
            <p class="sb-text-light-green-gradient mt-1">+0.02% Max Reward Rate</p>
        </div>

        <p class='spotbie-login-terms spotbie-text-link'>
            By clicking "Pay Now", you are agreeing to<br/><a [routerLink]="['/terms']">OUR TERMS & PRIVACY POLICY.</a>
        </p>

        <button class="spotbie-button text-uppercase" type="button" (click)="stripeSendPayment()">
            SUBSCRIBE
        </button>

    </div>

</div>

<div class='spotbie-overlay-window d-flex align-items-center justify-content-center' *ngIf="adPaidFor">

    <div class="sb-logo mt-3 mb-3"></div>

    <div class='sb-makePaymentWrapper' style="box-shadow: unset;">

        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">PAYMENT SUCCESSFUL</h4>

        <div class="sb-verificationCheck mt-4 mb-4">
            <i class="fa fa-check sb-text-light-green-gradient"></i>
        </div>

        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">PROMOTION IS LIVE</h4>

    </div>

    <div class="spotbie-text-gradient text-uppercase mt-4 cursor-pointer" [routerLink]="['/business']">RETURN TO HOME PAGE</div>

</div>

<div class='spotbie-overlay-window d-flex align-items-center justify-content-center' *ngIf="adWasPaidFor">

    <div class="sb-logo mt-3 mb-3"></div>

    <div class='sb-makePaymentWrapper' style="box-shadow: unset;">

        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">PROMOTION ALREADY PAID</h4>

        <div class="sb-verificationCheck mt-4 mb-4">
            <i class="fa fa-check sb-text-light-green-gradient"></i>
        </div>

        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">PROMOTION IS LIVE</h4>

    </div>

    <div class="spotbie-text-gradient text-uppercase mt-4 cursor-pointer" [routerLink]="['/business']">RETURN TO HOME PAGE</div>

</div>


<div class='spotbie-overlay-window d-flex align-items-center justify-content-center' *ngIf="membershipPaidFor">
    <div class="sb-logo mt-3 mb-3"></div>

    <div class='sb-makePaymentWrapper' style="box-shadow: unset;">
        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">PAYMENT SUCCESSFUL</h4>

        <div class="sb-verificationCheck mt-4 mb-4">
            <i class="fa fa-users sb-text-light-green-gradient"></i>
        </div>

        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">YOUR MEMBERSHIP IS LIVE</h4>
    </div>

    <div class="spotbie-text-gradient text-uppercase mt-4 cursor-pointer" [routerLink]="['/business']">RETURN TO HOME PAGE</div>
</div>
