<div class="spotbie-overlay-window pt-5 d-flex align-items-center justify-content-center">
  <div style="overflow-y: scroll; min-width: 100%;">
    <div #businessLoyaltyTierInfo class="spotbie-loyaltyPointsInfo mt-5 mb-3 spotbie-text-gradient text-center text-uppercase">
      <h4 class="spotbie-text-gradient text-center text-uppercase" *ngIf="!creatingTier && !updatingTier">MANAGE TIERS</h4>
      <h4 class="spotbie-text-gradient text-center text-uppercase" *ngIf="creatingTier">CREATING TIER</h4>
      <h4 class="spotbie-text-gradient text-center text-uppercase" *ngIf="updatingTier">UPDATING TIER</h4>
    </div>

    <ng-container *ngIf="(existingTiers$ | async)?.length === 0 && !tierCreatorFormUp">
      <i class="fas fa-exclamation-triangle"></i>
      <br/><br/>
      <p class="spotbie-text-gradient">
        <span>You have no tiers in your list yet.</span>
      </p>
    </ng-container>

    <ng-container *ngIf="(existingTiers$ | async)?.length > 0 && !creatingTier && !updatingTier">
      <div class='sb-menuItem'
           *ngFor="let tier of (existingTiers$ | async)"
           [ngStyle]="bgStyle()"
           (click)="editTier(tier)">
        <h6>
          <span class='spotbie-text-gradient'>
              {{ tier.name }}
          </span>
          <br/>
        </h6>
      </div>
    </ng-container>

    <ng-container *ngIf="(existingTiers$ | async)?.length < 3 && !tierCreatorFormUp">
      <div class='spotbie-button text-uppercase mt-3' (click)="newTier()">
        NEW TIER
      </div>
    </ng-container>

    <form [formGroup]="businessLoyaltyTierForm" *ngIf="tierCreatorFormUp">
      <div *ngIf="businessLoyaltyTierSubmitted && g.tierName.errors else tierNameNormal"
           class="spotbie-input-info spotbie-text-gradient spotbie-error mt-2 mb-2">
        <div *ngIf="g.tierName.errors.required">
          Enter tier name.
        </div>
        <div *ngIf="g.tierName.errors.minlength">
          Tier name must be at least 1 character.
        </div>
        <div *ngIf="g.tierName.errors.maxlength">
          Tier name can't be more than 50 characters.
        </div>
      </div>

      <ng-template #tierNameNormal>
        <label class="spotbie-input-info spotbie-text-gradient mt-4 mb-2">
          Tier Name
        </label>
      </ng-template>

      <input class="sb-input"
             formControlName="tierName"
             type="text"
             placeholder="Tier Name"
             minlength="1"
             maxlength="50" />

      <div *ngIf="businessLoyaltyTierSubmitted && g.tierDescription.errors else loyaltyTierDescriptionNormal"
           class="spotbie-input-info spotbie-text-gradient spotbie-error mt-4 mb-2">
        <div *ngIf="g.tierDescription.errors.required">
          Tier description required.
        </div>
        <div *ngIf="g.tierDescription.errors.minlength">
          Tier description must be at least 15 characters.
        </div>
        <div *ngIf="g.tierDescription.errors.maxlength">
          Tier description can't be more than 360 characters.
        </div>
      </div>

      <ng-template #loyaltyTierDescriptionNormal>
        <label class="spotbie-input-info spotbie-text-gradient mt-4 mb-2">
          Describe your Loyalty Tier.
        </label>
      </ng-template>

      <textarea class='spotbie-textarea mb-2'
                formControlName="tierDescription"
                maxlength="360"
                minlength="15"
                placeholder="Tier Description"
                style="margin: 0 auto;"></textarea>

      <div *ngIf="businessLoyaltyTierSubmitted && g.tierEntranceValue.errors else loyaltyTierEntranceValueNormal"
           class="spotbie-input-info spotbie-text-gradient spotbie-error mt-4 mb-2">
        <div *ngIf="g.tierEntranceValue.errors.required">
          Tier entrance value required.
        </div>
      </div>

      <ng-template #loyaltyTierEntranceValueNormal>
        <label class="spotbie-input-info spotbie-text-gradient mt-4 mb-2">
          How many points to enter the tier?
        </label>
      </ng-template>

      <input class="sb-input"
             (keyup)="calculateTierDollarValue()"
             formControlName="tierEntranceValue"
             type="text"
             placeholder="3,500"
             maxlength="10"
             thousandSeparator=","
             mask="separator.0" />

      <div class="mt-4 mb-2">
        <span class="spotbie-input-info spotbie-text-gradient">Tier Entrance Dollar Value: ${{ dollarEntranceValue }}</span>
      </div>
    </form>

    <div class='spotbie-button text-uppercase mt-3' (click)="createLoyaltyPointsTier()" *ngIf="creatingTier">
      CREATE TIER
    </div>

    <div class='spotbie-button text-uppercase mt-3' (click)="updateLoyaltyPointsTier()" *ngIf="updatingTier">
      UPDATE TIER
    </div>

    <div class='mt-5 mb-5 sb-deleteMe' *ngIf="updatingTier" (click)="deleteTier()">
      <span class="spotbie-text-gradient">DELETE TIER </span><i class='fa fa-trash'></i>
    </div>

    <div class='spotbie-text-gradient text-center text-uppercase mt-4'
         style="cursor: pointer;" (click)="closeTiers.emit(null)">
      <span class='spotbie-text-gradient text-center text-uppercase'>CLOSE</span>
    </div>
  </div>
</div>
