<ion-menu menuId="logged-in-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>SpotBie</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="primary">
    <ion-list>
      <ion-item class="ion-padding-top ion-padding-bottom" color="primary" lines="full" (click)="home()">
        <ion-icon name="home" slot="start"></ion-icon>
        HOME
      </ion-item>

      <ion-item class="ion-padding-bottom" color="primary" lines="full" (click)="openSettings()">
        <ion-icon name="cog" slot="start"></ion-icon>
        SETTINGS
      </ion-item>

      <ion-item class="ion-padding-bottom" color="primary" lines="full" (click)="logOut()">
        <ion-icon name="power" slot="start"></ion-icon>
        LOG OUT
      </ion-item>

      <ion-item class="ion-padding-bottom" color="primary" lines="full" (click)="shareApp()">
        <ion-icon name="code-download-outline" slot="start"></ion-icon>
        SHARE APP
      </ion-item>

      <ion-item class="ion-padding-bottom"
                color="primary"
                lines="full"
                (click)="downloadApp()"
                *ngIf="needToUpdate$ | async">
        <ion-icon name="code-download-outline" slot="start"></ion-icon>
        DOWNLOAD NEW APP
      </ion-item>

      <ion-item (click)="howToUpdate()">
        <ion-text>
          App Version {{ appVersion }}
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar id='ionToolbarLoggedIn' class="safe--area" color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ng-container *ngIf="(user$ | async)?.business?.is_food_truck && (userType$ | async) === eAllowedAccountTypes.PlaceToEat">
        <ion-buttons slot="end" (click)="updateFoodTruck()">
          <ion-button>
            <span style="cursor: pointer">
              <fa-icon class='faFoodTruck' [icon]="faFoodTruck"></fa-icon>
            </span>
          </ion-button>
        </ion-buttons>
      </ng-container>
    </ion-toolbar>
  </ion-header>
  <!-- we neeed the main-ion-content class so that we can sett he background to transparent for the scanner -->
  <ion-content class="main-ion-content has-header">
    <app-settings *ngIf="settingsWindow$ | async"
                  #spotbieSettings
                  (closeWindowEvt)="closeSettings()"
    ></app-settings>

    <app-business-dashboard (openBusinessSettingsEvt)="openSettings()"
    ></app-business-dashboard>
  </ion-content>
</div>
