<div class="wrapper">
  <!-- Check if user has any pending steps to start using their business -->
  <div class="sb-dashboardWrapper sb-v-wrapper"
       style="display: grid; align-content: center;
                    min-height: 70vh;
                    border-bottom: unset !important;"
       *ngIf="(displayBusinessSetUp$ | async)" #businessSettingsAppAnchor>
    <i class="fas fa-users"></i>

    <h2 class="spotbie-text-gradient sb-welcome2Spotbie text-uppercase mt-4"
        style="display: inline-block;">WELCOME TO SPOTBIE</h2>

    <p class="spotbie-text-gradient mb-4">
      Looks like you need to finish setting up your account before starting to use our service.<br/>
    </p>

    <div class="spotbie-button" (click)="openSettings()">
      <span class="spotbie-text-gradient text-uppercase mt-5 cursor-pointer">CLICK HERE TO FINISH</span>
    </div>
  </div>

  <ng-container *ngIf="((displayBusinessSetUp$ | async) === false) &&
                       ((businessFetched$ | async) === true)">
    <div class="sb-dashboardWrapper" #qrCodeAppAnchor>
      <app-user-set-up #appUserSetUp></app-user-set-up>
    </div>

    <div class="sb-dashboardWrapper" #qrCodeAppAnchor>
      <app-qr #qrApp></app-qr>
    </div>

    <div class="sb-dashboardWrapper" #rewardMenuAppAnchor>
      <app-reward-menu
        [fullScreenMode]="false"
        (notEnoughLpEvt)="openLoyaltyPoints()"
        (rewardEdited)="rewardEdited()"
        #rewardMenuApp
      ></app-reward-menu>
    </div>

    <div class="sb-dashboardWrapper" #adManagerAppAnchor>
      <app-ad-manager-menu [fullScreenWindow]="false" #adManagerApp></app-ad-manager-menu>
    </div>

    <div class="sb-dashboardWrapper" #customerAppAnchor *ngIf="canUseCustomerManager$ | async">
      <app-customer-manager></app-customer-manager>
    </div>
  </ng-container>
</div>
