<div class='container spotbie-overlay-window d-flex align-items-center justify-content-center'>
    <div style="display: inline-block;">
        <img src="assets/images/logo_spotbie_green.svg" />

        <p class="mt-5 pl-4 pr-4 spotbie-text-gradient text-uppercase">
            Connecting users to loyalty points at places to eat, events, and shopping.
        </p>

        <button class='btn spotbie-button' (click)="switchCard()">
            <span>GET STARTED</span>
        </button>
    </div>
</div>
