.spotbie-redeemedItem{
  position: relative;
  margin: 0 auto 5px;
  border-radius: 5px;
  max-width: 650px;
  min-width: 650px;
  width: 650px;
  color: white;
  background-color: rgba(0,0,0,.2);
  text-align: left;
}
.redeemed-closeButton{
  border-right: unset !important;
  color: #332f3e !important;
}
.card-header{
  font-size: .9rem;
}
.card-body{
  font-size: .7rem;
}
.card-footer{
  font-size: .6rem;
}
.spotbie-no-notis-box{
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  width: 650px;
  min-width: 650px;
  max-width: 650px;
  transform: translateY(-50%);
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}
.fa-exclamation-triangle{
  position: relative;
  color: #ffc107;
  font-size: 1rem;
  bottom: 4px;
  margin-right: 10px;
}
.sb-rewardImage{
  position: relative;
  max-width: 250px;
  width: 250px;
  min-width: 250px;
}

.spotbie-redeemListWrapper{
  position: relative;
  margin: 0 auto;
  max-width: 99%;
}
.card-header > img {
  position: absolute;
  margin-left: 10px;
  max-width: 25px;
  max-height: 25px;
}
ion-content {
  text-align: center;
}
ion-header, ion-toolbar {
  background-color: var(--ion-color-primary-shade);
}
@media (max-width: 650px){
  .spotbie-redeemedItem{
    max-width: 98%;
    min-width: 98%;
    width: 98%;
  }
  .spotbie-redeemListWrapper{
    width: 99%;
    min-width: 99%;
  }
  .sb-rewardImage{
    position: relative;
    max-width: 85px;
    width: 85px;
    min-width: 85px;
  }
  .spotbie-no-notis-box{
    max-width: 99%;
    min-width: 99%;
    width: 99%;
  }
}
@media (max-width: 560px) {
  div.nav > table {
    border-spacing: 5px;
    min-width: 100%;
  }
  .redeemed-closeButton {
    min-width: 10%;
  }
}
@media (max-width: 460px){
  .spotbie-no-notis-box{
    width: 94%;
    min-width: 94%;
    max-width: 94%;
  }
  .nav {
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .nav > table {
    max-width: 90%;
    width: 90%;
    min-width: 90%;
  }
  .nav > table td{
    border-radius: 0 !important;
    font-size: .6rem !important;
    padding: 9px 10px 5px !important;
  }
}
