<div class="spotbie-overlay-window">

    <div class='sb-closeButton' (click)="closeThis()">
      <i class="fa fa-times"></i>
    </div>

    <div #spbTopAnchor></div>

    <div class='sb-adCreatorWrapper'>
        <h5 class="spotbie-text-gradient text-center text-uppercase pt-3 mb-4">PROMOTION EDITOR</h5>

        <form [formGroup]="adCreatorForm" *ngIf="adCreatorFormUp">
            <div class='spotbie-text-gradient text-uppercase text-center' #spbInputInfo></div>

            <div *ngIf="(adFormSubmitted || showErrors) && f.adType.errors else adTypeTemplate"
                  class="spotbie-input-info spotbie-text-gradient spotbie-error mt-4 mb-2">
                <div *ngIf="f.adType.errors.required">
                    You must pick a promotion type!
                </div>
            </div>

            <ng-template #adTypeTemplate>
                <label class="spotbie-input-info spotbie-text-gradient mb-2">
                    Pick Promotion Type
                </label>
            </ng-template>

            <ion-list class='sb-input mb-3'>
              <ion-item>
                <ion-select aria-label="Promotion Format"
                            placeholder="Promotion Format"
                            interface="action-sheet"
                            class="sb-select"
                            formControlName="adType"
                            toggleIcon="caret-down-sharp"
                            (ionChange)="adTypeChange()"
                            [value]="selected">
                  <ion-select-option *ngFor="let adType of adTypeList; let i = index;" [value]="i">
                    {{ adType.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <div *ngIf="adFormSubmitted && f.adName.errors else adNameNormalTemplate"
                    class="spotbie-input-info spotbie-text-gradient spotbie-error mt-2 mb-2">
                <div *ngIf="f.adName.errors.required">
                    Enter promotion name.
                </div>

                <div *ngIf="f.adName.errors.maxlength">
                    Maximum length - promotion name - 50
                </div>
            </div>

            <ng-template #adNameNormalTemplate>
                <label class="spotbie-input-info spotbie-text-gradient mt-2 mb-2">
                    Promotion Name
                </label>
            </ng-template>

            <input class="sb-input"
                    formControlName="adName"
                    type="text"
                    placeholder="My Ad"
                    maxlength="50" />

            <input type="hidden" formControlName="adImage" />
            <input type="hidden" formControlName="adImageMobile" />
        </form>

        <form>
            <div *ngIf="adFormSubmitted && f.adImage.errors else adMediaUploadInfoTemplate"
                    class="spotbie-input-info text-uppercase spotbie-text-gradient text-center spotbie-error mt-4 mb-2">
                <div *ngIf="f.adImage.errors.required">
                    Upload Promotion Image
                </div>
            </div>

            <ng-template #adMediaUploadInfoTemplate>
                <div class="spotbie-input-info text-uppercase spotbie-text-gradient text-center mt-4 mb-2 cursor-pointer"
                    (click)="startAdMediaUploader('desktop')" #adMediaUploadInfo>
                    {{ adMediaMessage }} ({{ adTypeList[selected].dimensions }})
                </div>
            </ng-template>

            <input type="file"
                    class='spotbie-background-upload-input'
                    #adMediaInput
                    (change)="uploadMedia(adMediaInput.files, 'desktop')"
                    accept="image/jpeg, image/gif, image/png"
                    multiple=false />

            <div (click)="startAdMediaUploader('desktop')" class='cursor-pointer mt-2 mb-2'>
                <app-header-ad-banner #adApp class="pe-none" *ngIf="adType == 0" [ad]="ad" [business]="business" [editMode]="true"></app-header-ad-banner>
                <app-nearby-featured-ad #adApp class="pe-none" *ngIf="adType == 1" [ad]="ad" [business]="business" [editMode]="true"></app-nearby-featured-ad>

                <div class='cursor-pointer mt-5 mb-2' *ngIf="adType == 2"></div>
                <app-bottom-ad-banner #adApp class="pe-none" *ngIf="adType == 2" [ad]="ad" [business]="business" [editMode]="true"></app-bottom-ad-banner>
            </div>

            <h6 class='sb-text-light-green-gradient' style="font-size: .8rem;" *ngIf="adType !== 1">DESKTOP PREVIEW</h6>
        </form>

        <form>
            <div *ngIf="adType !== 1">
                <div *ngIf="adFormSubmitted && f.adImage.errors else adMediaMobileUploadInfoTemplate"
                    class="spotbie-input-info text-uppercase spotbie-text-gradient text-center spotbie-error mt-5 mb-2">
                    <div *ngIf="f.adImage.errors.required">
                        Upload Promotion Image
                    </div>
                </div>

                <ng-template #adMediaMobileUploadInfoTemplate>
                    <div class="spotbie-input-info text-uppercase spotbie-text-gradient text-center mt-5 mb-2 cursor-pointer"
                        (click)="startAdMediaUploader('mobile')" #adMediaUploadInfo>
                        {{ adMediaMessage }} - MOBILE - ({{ adTypeList[selected].dimensionsMobile }})
                    </div>
                </ng-template>
            </div>

            <input type="file"
                    class='spotbie-background-upload-input'
                    #adMediaMobileInput
                    (change)="uploadMedia(adMediaMobileInput.files, 'mobile')"
                    accept="image/jpeg, image/gif, image/png"
                    multiple=false />

            <div (click)="startAdMediaUploader('mobile')" class='spotbie-mobile-ad cursor-pointer mt-3 mb-2'>
                <app-header-ad-banner #adAppMobile class="pe-none" *ngIf="adType == 0" [ad]="ad" [business]="business" [editMode]="true" [isMobile]="true"></app-header-ad-banner>
                <app-bottom-ad-banner #adAppMobile class="pe-none" *ngIf="adType == 2" [ad]="ad" [business]="business" [editMode]="true" [isMobile]="true"></app-bottom-ad-banner>
            </div>

            <h6 class='sb-text-light-green-gradient' style="font-size: .8rem;" *ngIf="adType !== 1">MOBILE PREVIEW</h6>
        </form>

        <p class="mt-4" style="font-size: .8rem;">
            <i class="fa fa-map-marker-alt"></i>
            <span class="spotbie-text-gradient">PROMOTIONS ARE DISPLAYED TO LOCAL USERS WITHIN A 5 MILE RADIUS</span>
        </p>

        <div class='spotbie-button text-uppercase mt-5' (click)="saveAd()">
            <span class='spotbie-text-gradient'>SAVE</span>
            <i class='fa fa-check'></i>
        </div>

        <div class='mt-5 mb-5 sb-deleteMe' *ngIf="ad" (click)="deleteMe()">
            <span class="spotbie-text-gradient">DELETE SUBSCRIPTION </span><i class='fa fa-trash'></i>
        </div>

        <div class='mt-5 mb-5 cursor-pointer' (click)="closeThis()">
            <span class="spotbie-text-gradient">CANCEL</span>
        </div>
    </div>
</div>

<div class='spotbie-overlay-window' *ngIf="adCreated">
    <div class='sb-v-wrapper' style="display: grid; align-content: center;">
        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">UPLOAD SUCCESSFUL</h4>

        <div class="sb-verificationCheck sb-text-light-green-gradient mt-4 mb-4">
            <i class="fa fa-check"></i>
        </div>

        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">PAYMENT PENDING</h4>
    </div>
</div>

<div class='spotbie-overlay-window' *ngIf="adDeleted">
    <div class='sb-v-wrapper' style="display: grid; align-content: center;">
        <h4 class="spotbie-text-gradient text-uppercase">AD WAS DELETED</h4>

        <div class="sb-verificationCheck sb-text-light-green-gradient mt-4 mb-4">
            <i class="fa fa-check"></i>
        </div>

        <h4 class="spotbie-text-gradient text-uppercase">CONTINUE</h4>
    </div>
</div>
