.sb-top-headerImg{
  background: url('../../../assets/images/home_imgs/spotbie-grow-your-business-with-loyalty-points.jpg') no-repeat center !important;
  background-size: cover !important;
}
#sbReadImageRestaurants{
    background: url('../../../assets/images/home_imgs/jpg/spotbie-find-restaurant-customers-near-you.jpg')
}
#sbReadImageEvents
{
    background: url('../../../assets/images/home_imgs/jpg/spotbie-find-restaurant-customers.jpg')
}
#sbReadImageShopping{
    background: url('../../../assets/images/home_imgs/jpg/spotbie-find-customers-near-you.jpg')
}
#sbReadImageUsers{
    background: url('../../../assets/images/home_imgs/jpg/spotbie-miami-find-new-friends.jpg')
}
.fa-users,
.fa-hamburger,
.fa-dollar-sign,
.fa-money-bill
{
    font-size: 1.2rem;
    color: white;
}
.fab.fa-instagram,
.fab.fa-twitter,
.fab.fa-youtube{
    color: white;
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.fa-map-marker-alt{
    color: white;
}

.calendly-inline-widget{
    min-width: 90vw;
    width: 90vw;
    max-width: 90vw;
    height: 70vh;
    min-height: 70vh;
    max-height: 70vh;
    overflow-x: hidden;
}

.spotbiePurchaseIncentives div{
  color: white;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
  font-family: Gotham-Book;
  font-size: .9rem;
}

.sb-getStarted{
    margin: 0 auto;
}

.sbBetaBtn{
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 1600px){
    .sb-top-headerImg{
        height: 550px;
        min-height: 550px;
    }
}
@media (max-width: 1250px){
    .sb-top-headerImg{
        height: 450px;
        min-height: 450px;
    }
}
@media (max-width: 1000px){
    .sb-top-headerImg{
        height: 400px;
        min-height: 400px;
    }
}
@media (max-width: 768px){
    .sb-top-headerImg {
        box-shadow: inset 0 0px 65px #332f3e;
    }
}

@media (max-width: 650px){
  .sb-top-headerImg {
    background: url('../../../assets/images/home_imgs/spotbie-miami.jpg') no-repeat center !important;
    background-size: cover !important;
    box-shadow: inset 0px -80px 65px #332f3e;
      max-height: 300px;
      min-height: 300px;
      height: 300px;
  }
  .spotbie-overlay-window{
      width: 104%;
      min-width: 104%;
      max-width: 104%;
  }
  .spotbiePurchaseIncentives{
    text-decoration: underline!important;
    align-content: center!important;
    justify-content: center!important;
    display: grid!important;
  }
  .spotbiePurchaseIncentives div{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .spotbiePurchaseIncentives {
    margin-bottom: 40px;
  }
}

@media(max-width: 420px){
    .sb-getStarted{
        margin: 0 auto;
    }
}

