<div class="spotbie-overlay-window" [ngStyle]="{'background-color' : 'rgba(0,0,0,.53)' }">

  <div class="sb-closeButton" (click)="closeThis()">
    <i class="fa fa-times"></i>
  </div>

  <div class='spotbie-profile-pop animated flipInX' 
        ngHammer="{ event : 'swipe', direction : 'up'}"
        (eventTriggered)="closeThis()"
        [ngStyle]="{ 'background-color' : currentMarker.bg_color }">

    <div class='spotbie-profile-right-username'>{{ currentMarker.username }}</div>

    <div class='spotbie-profile-right-user-default' 
        *ngIf="currentMarker.default_picture | defaultImage as userBackgroundImage"
        [ngStyle]="{ 'background' : 'url(' + userBackgroundImage + ')' }"></div>

    <div class="spotbie-profile-right-visit-profile" (click)="viewProfile(currentMarker.username)">View Profile</div>

    <div class="spotbie-bar-profile-description">{{ currentMarker.description }}</div>

  </div>

</div>