<ion-content class="ion-padding-top has-header" *ngIf="(lpRedeemed$ | async)" color="primary">
  <div class="redeemWindowNavMargin"></div>

  <div *ngIf="lpRedeemed$ | async">
    <div class="card spotbie-redeemedItem" *ngFor="let redeemedItem of (lpRedeemedList$ | async)">
      <div class='card-header'>
        <span class='sb-text-light-green-gradient'>{{ redeemedItem.business.name }}</span>
        <img *ngIf="redeemedItem.business.spotbie_user.user_type === 1" [src]="'assets/images/home_imgs/find-places-to-eat.svg'" />
        <img *ngIf="redeemedItem.business.spotbie_user.user_type === 2" [src]="'assets/images/home_imgs/find-places-for-shopping.svg'" />
        <img *ngIf="redeemedItem.business.spotbie_user.user_type === 3" [src]="'assets/images/home_imgs/find-events.svg'" />
      </div>

      <div class='card-body text-uppercase'>
        <div class='mb-2'>
          {{ redeemedItem.created_at | date:'mediumDate' }}
        </div>

        <div class='mb-2'>
          Loyalty Points <span class='sb-text-light-green-gradient'>
                        +{{ redeemedItem.amount | number:'1.0':'en-US' }}
                    </span>
        </div>

        <div class='mb-2'>
          Total Spent <span class='sb-text-light-green-gradient'>${{ redeemedItem.total_spent | number:'1.2':'en-US' }}</span>
        </div>

        <div class='mb-2'>
          Dollar Value <span class='sb-text-light-green-gradient'>${{ redeemedItem.dollar_value | number:'1.2':'en-US' }}</span>
        </div>

        <div class='mb-2'>
          Reward Rate <span class='sb-text-light-green-gradient'>{{ redeemedItem.loyalty_point_dollar_percent_value | number:'1.2':'en-US' }}%</span>
        </div>
      </div>

      <div class='card-footer text-uppercase text-center'>
        award id: {{ redeemedItem.uuid }}
      </div>
    </div>
  </div>

  <ion-button class="mt-4 mb-4" color="secondary" size="small" *ngIf="showLoadMore()" (click)="loadMoreItems()">
    LOAD MORE
  </ion-button>

  <div class='spotbie-no-notis-box' *ngIf="(lpRedeemedList$ | async).length === 0 && (lpRedeemed$ | async) && (loading$ | async) === false">
    <i class="fas fa-exclamation-triangle"></i>
    <br/><br/>
    <p class="spotbie-text-gradient">
      <span>You have no redeemed points.</span>
    </p>
    <br/><br/>
  </div>
</ion-content>
