<app-loading-screen *ngIf="loading"></app-loading-screen>

<div [ngClass]="getWindowClass()" *ngIf="(loyaltyPointBalanceBusiness$ | async) as loyaltyPointBalanceBusiness;">
    <div>
        <h5 id="sp-lpTitle" class="spotbie-text-gradient text-center text-uppercase mt-4 mb-5">SPOTBIE LOYALTY POINTS</h5>

        <div class="spotbie-lpResetInfo spotbie-text-gradient text-uppercase mt-3 mb-3"
              *ngIf="loyaltyPointBalanceBusiness.end_of_month && loyaltyPointBalanceBusiness.balance">
            POINTS RESET ON
        </div>

        <div class="spotbie-lpResetInfo spotbie-text-gradient text-uppercase"
              *ngIf="loyaltyPointBalanceBusiness.end_of_month">
            {{ (loyaltyPointBalanceBusiness.end_of_month | date : 'mediumDate') || loyaltyPointBalanceBusiness.end_of_month }}
        </div>

        <p class="mt-4 mb-4" (click)="initBusinessLoyaltyPoints()">
            <span [ngClass]="loyaltyPointsClass()">
                {{ loyaltyPointBalanceBusiness.balance | number:'1.0':'en-US' }}
            </span>

            <span class="sb-added-loyalty-points sb-text-light-green-gradient animated fadeOutUp"
                    *ngIf="newUserLoyaltyPoints"
                    #newBalanceLoyaltyPoints>+{{ newUserLoyaltyPoints | number:'1.1-2':'en-US' }}</span>
        </p>

        <div class='spotbie-text-gradient text-uppercase cursor-pointer' (click)="closeThis()" *ngIf="fullScreenWindow">
            CLOSE
        </div>
    </div>
</div>

<div class="spotbie-overlay-window pt-5 d-flex align-items-center justify-content-center" *ngIf="businessLoyaltyPointsOpen">
    <div style="overflow-y: scroll; min-width: 100%;">
        <div #businessLoyaltyPointsInfo class="spotbie-loyaltyPointsInfo spotbie-text-gradient text-center text-uppercase">
            <h4 class="spotbie-text-gradient text-center text-uppercase">MONTHLY BUDGET</h4>
        </div>

        <form [formGroup]="businessLoyaltyPointsForm" *ngIf="businessLoyaltyPointsFormUp">
            <label class="spotbie-input-info spotbie-text-gradient mb-2">
                REWARD RATE %
            </label>

            <input class="sb-input"
                    [dropSpecialCharacters]="false"
                    formControlName="businessCoinPercentage"
                    type="text"
                    placeholder="1.5%"
                    separatorLimit="1000"
                    suffix="%"
                    maxlength="6"
                    readonly
                    mask="percent" />

            <label class="spotbie-input-info spotbie-text-gradient mt-4 mb-2">
                Loyalty Points per Month
            </label>

            <input class="sb-input"
                    formControlName="businessLoyaltyPoints"
                    type="text"
                    placeholder="0"
                    maxlength="7"
                    readonly
                    thousandSeparator=","
                    mask="separator.0" />
        </form>

        <p class="text-uppercase mt-4" style="font-size: .8rem !important;" *ngIf="monthlyDollarValueCalculated">
            <span class='spotbie-text-gradient'>dollar value </span>
            <span class='sb-text-light-green-gradient'>${{ userPointToDollarRatio | number:'1.1-2':'en-US' }}</span>
        </p>

        <div class='spotbie-howDoesItWork spotbie-text-gradient text-center text-uppercase mt-4' (click)="toggleHelp()" style="cursor: pointer;">
            <i class='fa fa-question-circle'></i>how does it work?
        </div>

        <div class='sb-helpBlock mt-4' *ngIf="helpEnabled" style="text-align: center;">
            <p class='spotbie-text-gradient mb-3'>
                SpotBie calculates the value of your LP points based on the competition around your store.
            </p>

            <p class='spotbie-text-gradient mb-3'>
                When your customers <b>scan your QR code</b>, they will get an amount of loyalty points proportional to their bill.
            </p>

            <p class='spotbie-text-gradient mb-3'>
                Let's say your customer spent <b>$200</b> on their bill. If your <b>loyalty points are worth 2.5% of a dollar</b>, then the customer will gain
                <br/><b>a $5.00 Reward in Loyalty Points</b>!
            </p>

            <p class='spotbie-text-gradient mb-3'>
                At the end of each month, SpotBie will reimburse you for rewards claimed at your business and unused Loyalty Points.
            </p>
        </div>

        <div class='spotbie-text-gradient text-center text-uppercase mt-4'
                style="cursor: pointer;" (click)="closeBusinessLoyaltyPoints()">
            <span class='spotbie-text-gradient text-center text-uppercase'>CLOSE</span>
        </div>
    </div>
</div>
