<app-loading-screen *ngIf="loading$ | async"></app-loading-screen>

<div class='spotbie-overlay-window pt-2 pb-5' #spotbieSettingsWindow>
    <div class='spotbie-block sb-topSettingsPadding'>
        <div #spotbieSettingsInfoText class="spotbie-text-gradient mt-4 mb-4"></div>
        <form [formGroup]="settingsForm" *ngIf="settingsFormInitiated">
            <table class='spotbie-settings-table'>
                <tr>
                    <td>
                        <div *ngIf="submitted && f.spotbie_username.errors else username_normal" class="spotbie-input-info spotbie-text-gradient spotbie-error">
                            <div *ngIf="f.spotbie_username.errors.required">
                                You must enter a username!
                            </div>

                            <div *ngIf="f.spotbie_username.errors.maxlength || f.spotbie_username.errors.wrongLength">
                                Your username cannot be longer than 15 characters.
                            </div>

                            <div *ngIf="f.spotbie_username.errors.illegalChars">
                                Must only contain letters, numbers, dots, and underscores.
                            </div>
                        </div>

                        <ng-template #username_normal>
                            <label #spotbie_settings_issues class="spotbie-input-info spotbie-text-gradient mb-2">
                                Change your username.
                            </label>
                        </ng-template>
                        <input class="sb-input" formControlName="spotbie_username" type="text" value="username" maxlength="35" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="submitted && f.spotbie_first_name.errors else user_first_name_normal"
                                class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2">
                            <div *ngIf="f.spotbie_first_name.errors.required">
                                Please enter your first name.
                            </div>

                            <div *ngIf="f.spotbie_first_name.errors.maxlength">
                                Your first name cannot be longer than 72 characters.
                            </div>
                        </div>
                        <ng-template #user_first_name_normal>
                            <label class="spotbie-input-info spotbie-text-gradient mb-2">
                                What is your first name?
                            </label>
                        </ng-template>
                        <input class="sb-input" formControlName="spotbie_first_name" type="text" value="name" maxlength="72" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="submitted && f.spotbie_last_name.errors else user_last_name_normal"
                                class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2">
                            <div *ngIf="f.spotbie_last_name.errors.required">
                                Please enter your last name.
                            </div>

                            <div *ngIf="f.spotbie_last_name.errors.maxlength">
                                Your last name cannot be longer than 72 characters.
                            </div>
                        </div>

                        <ng-template #user_last_name_normal>
                            <label class="spotbie-input-info spotbie-text-gradient mb-2">
                                What is your last name?
                            </label>
                        </ng-template>

                        <input class="sb-input" formControlName="spotbie_last_name" type="text" value="name" maxlength="72" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="submitted && f.spotbie_email.errors else user_email_normal"
                                class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2">
                            <div *ngIf="f.spotbie_email.errors.required">
                                Please enter your email.
                            </div>

                            <div *ngIf="f.spotbie_email.errors.notUnique">
                                This email is already taken.
                            </div>
                        </div>

                        <ng-template #user_email_normal>
                            <label class="spotbie-input-info spotbie-text-gradient mb-2">
                                What is your email?
                            </label>
                        </ng-template>

                        <input class="sb-input"
                                formControlName="spotbie_email"
                                type="text" value="email"
                                maxlength="135" />

                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="submitted && f.spotbie_email.errors else phone_number_normal"
                             class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2">
                          <div *ngIf="f.spotbie_phone_number.errors.notUnique">
                            This phone number is already taken.
                          </div>
                        </div>

                        <ng-template #phone_number_normal>
                          <label class="spotbie-input-info spotbie-text-gradient mb-2">
                            Phone number.
                          </label>
                        </ng-template>

                        <input class='sb-input'
                                type='tel'
                                mask="(000) 000-0000"
                                autocomplete="tel"
                                placeholder='(555) 555-5555'
                                formControlName="spotbie_phone_number" />
                    </td>
                </tr>
                <tr *ngIf="chosenAccountType != 4">
                    <td>
                        <div *ngIf="submitted && f.spotbie_acc_type.errors else user_account_type_normal"
                                    class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2">
                            <div *ngIf="f.spotbie_acc_type.errors.required">
                                You must choose an account type!
                            </div>
                        </div>
                        <ng-template #user_account_type_normal>
                            <label class="spotbie-input-info spotbie-text-gradient mb-2">
                                Choose an account type.
                            </label>
                        </ng-template>
                        <div #userAccountTypeNormalScroll></div>
                        <input (click)="changeAccType()"
                                class="sb-input spotbie-clickable-field"
                                formControlName="spotbie_acc_type"
                                type="text"
                                readonly="readonly" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class='btn spotbie-button mb-5' (click)="saveSettings()">
                            Save Settings
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div class='spotbie-block mb-0' *ngIf="settingsFormInitiated">
        <form [formGroup]="passwordForm">
            <table class='spotbie-settings-table' id="spotbie-password-table">
                    <!-- Change Password Block -->
                    <tr>
                        <td>
                            <div class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2" style="display: none;" #spotbiePasswordInfoText></div>

                            <div *ngIf="passwordSubmitted && g.spotbie_password.errors else spotbie_password_normal"
                                    class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2">
                                <div *ngIf="g.spotbie_password.errors.required">
                                    Please provide a password.
                                </div>

                                <div *ngIf="g.spotbie_password.errors.wrongLength">
                                    Password must be 1 to 15 characters long.
                                </div>

                                <div *ngIf="g.spotbie_password.errors.oneNumber">
                                    Password must contain at least one number (0-9)!
                                </div>

                                <div *ngIf="g.spotbie_password.errors.oneLowerCase">
                                    Password must contain at least one lowercase letter (a-z)!
                                </div>

                                <div *ngIf="g.spotbie_password.errors.oneUpperCase">
                                    Password must contain at least one uppercase letter (A-Z)!
                                </div>
                            </div>
                            <ng-template #spotbie_password_normal>
                                <label class="spotbie-input-info spotbie-text-gradient mb-2" #spotbie_password_change_info_text>
                                    Change your password.
                                </label>
                            </ng-template>
                            <input class="sb-input" formControlName="spotbie_password" type="password" value="password" autocomplete="false"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="passwordSubmitted && g.spotbie_confirm_password.errors else spotbie_confirm_password_normal"
                                  class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2">
                                <div *ngIf="g.spotbie_confirm_password.errors.required">
                                    Please confirm your password.
                                </div>
                            </div>

                            <ng-template #spotbie_confirm_password_normal>
                                <label class="spotbie-input-info spotbie-text-gradient mb-2">
                                    Confirm your new password.
                                </label>
                            </ng-template>

                            <input class="sb-input"
                                    formControlName="spotbie_confirm_password" type="password" value="newpassword" autocomplete="false" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class='btn spotbie-button' (click)="savePassword()">
                                CHANGE PASSWORD
                            </button>
                        </td>
                    </tr>
                    <!-- End Of Change Password Block -->
            </table>

            <div class="spotbie-overlay-window" *ngIf="savePasswordShow">
                <div class="sb-closeButton" (click)="cancelPasswordSet()">
                    <i class="fa fa-times"></i>
                </div>

                <div class="spotbie-toast-input-box">
                    <table class='spotbie-settings-table'>
                        <div *ngIf="passwordSubmitted && g.spotbie_current_password.errors else spotbie_current_password_normal" class="spotbie-input-info  spotbie-text-gradient spotbie-error">
                            <div *ngIf="g.spotbie_current_password.errors.required">
                                Please enter your current password.
                            </div>
                        </div>

                        <ng-template #spotbie_current_password_normal>
                            <div class="spotbie-input-info spotbie-text-gradient" #current_password_info>
                                To complete the change, enter your CURRENT password.
                            </div>
                        </ng-template>
                        <tr>
                            <td>
                                <input class="sb-input" type="password" formControlName="spotbie_current_password" value="123456789" autocomplete="false">

                                <div class="spotbie-button spotbie-button-mini" (click)="completeSavePassword()">
                                    Complete Change
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>

    <div class='mt-5 mb-5 cursor-pointer' (click)="closeWindow()">
        <span class="spotbie-text-gradient">CLOSE</span>
    </div>

    <div class='sb-vertical-align-wrapper' *ngIf="loadAccountTypes">
        <div class="spotbie-select-menu" style="display: table-cell; vertical-align: middle;">
            <div>
                  <div class="spotbie-input-info spotbie-text-gradient text-center mt-4 mb-4">
                      Choose an account type.
                  </div>

                  <div class="spotbie-select-menu-option mt-1 mb-1 pt-3 pb-3"
                      *ngFor="let account_type of accountTypeList"
                      (click)="selectAccountType(account_type)">

                      <span class='spotbie-text-gradient text-center text-uppercase'>{{ account_type }}</span>
                  </div>

                  <div class="spotbie-input-info spotbie-text-gradient text-center mt-4 mb-4" style="font-size: .8rem;">
                      "Events" account type is coming soon.
                  </div>

              <!-- User's membership is active -->
              <div
                class="mt-4 mb-4"
                style="font-size: 0.8rem"
                *ngIf="userIsSubscribed; else membershipExpired"
              >
          <span class="sb-text-light-green-gradient" *ngIf="!user.ends_at"
          >MEMBERSHIP IS ACTIVE</span
          >

                <div class="mt-4 mb-4 spotbie-price-box" style="font-size: 0.8rem">
                  <div
                    class="p2 text-start text-white"
                    *ngIf="userSubscriptionPlan === _businessMembership.Starter"
                  >
              <span
                style="font-size: 1.2rem"
                class="sb-text-light-green-gradient"
              >$249.99/monthly</span
              >
                    <ul>
                      <li>Loyalty Program</li>
                      <li>Local Exposure</li>
                      <li>Upload Rewards</li>
                      <li>Loyalty Tiers</li>
                      <li>Footer Banner Ads</li>
                      <li>Default Max Reward Rate</li>
                    </ul>
                  </div>

                  <div
                    class="p2 text-start text-white"
                    *ngIf="userSubscriptionPlan === _businessMembership.Intermediate"
                  >
              <span
                style="font-size: 1.2rem"
                class="sb-text-light-green-gradient"
              >$349.99/monthly</span
              >
                    <ul>
                      <li>+Starter Package</li>
                      <li>+Header Banner Ads</li>
                      <li>+0.02% Max Reward Rate</li>
                      <li>+5,000 SMS & 5,000 e-mails</li>
                      <li>+Feedback</li>
                      <li>+Customer Insights</li>
                    </ul>
                  </div>

                  <div
                    class="p2 text-start text-white"
                    *ngIf="userSubscriptionPlan === _businessMembership.Ultimate"
                  >
              <span
                style="font-size: 1.2rem"
                class="sb-text-light-green-gradient"
              >COMING SOON</span
              >
                    <ul>
                      <li>+Starter Package</li>
                      <li>+Nearby Featured Ads</li>
                      <li>+0.03% Max Reward Rate</li>
                      <li>+10,000 SMS & 20,000 e-mails</li>
                      <li>+Advanced Targeting & Insights</li>
                      <li>+Automated Push Notifications</li>
                    </ul>
                  </div>

                  <div
                    class="p2 text-start text-white"
                    *ngIf="userSubscriptionPlan === _businessMembership.Legacy"
                  >
                    <span
                      style="font-size: 1.2rem"
                      class="sb-text-light-green-gradient"
                    >$99.99/monthly</span>
                    <ul>
                      <li>LEGACY MEMBERSHIP</li>
                    </ul>
                  </div>
                </div>

                <div
                  class="spotbie-text-gradient text-uppercase mt-2 mb-4"
                  *ngIf="!user.ends_at"
                  style="font-size: 0.8rem"
                >
                  NEXT PAYMENT {{ user.next_payment | date: 'mediumDate' }}
                </div>

                <span class="sb-text-light-green-gradient" *ngIf="user.ends_at"
                >YOU CANCELLED YOUR MEMBERSHIP</span
                >
                <br />
                <span class="sb-text-light-green-gradient" *ngIf="user.ends_at">
            Last Day {{ user.ends_at | date }}
              </span>

              <span
                class="sb-text-red-gradient text-uppercase cursor-pointer"
                *ngIf="!user.ends_at"
                (click)="cancelMembership()"
                    >
                CANCEL MEMBERSHIP
              </span>
              </div>

              <!-- Membership is Expired Case -->
              <ng-template #membershipExpired>
                <div
                  *ngIf="!userIsSubscribed && chosenAccountType != 4 && user?.business"
                >
                  <div class="pb-4">
                    <i class="fa fa-exclamation-triangle"></i>
                  </div>

                  <h5 class="spotbie-text-gradient">YOUR MEMBERSHIP IS EXPIRED</h5>

                  <h6 class="mt-4 text-white sb-text-light-green-gradient">
                    PICK YOUR PLAN
                  </h6>

                  <div class="mt-4 spotbie-price-box" style="font-size: 0.8rem">
                    <div
                      class="p2 text-start text-white"
                      (click)="activateFullMembership(1)"
                    >
                <span
                  style="font-size: 1.2rem"
                  class="sb-text-light-green-gradient"
                >$249.99/monthly</span
                >
                    <ul>
                      <li>Loyalty Program</li>
                      <li>Local Exposure</li>
                      <li>Upload Rewards</li>
                      <li>Loyalty Tiers</li>
                      <li>Footer Banner Ads</li>
                      <li>Default Max Reward Rate</li>
                    </ul>
                    <button class="spotbie-button p-2">BUY</button>
                    </div>

                    <div
                      class="p2 text-start text-white"
                      (click)="activateFullMembership(2)"
                    >
                <span
                  style="font-size: 1.2rem"
                  class="sb-text-light-green-gradient"
                >$349.99/monthly</span
                >
                      <ul>
                        <li>+Starter Package</li>
                        <li>+Header Banner Ads</li>
                        <li>+0.02% Max Reward Rate</li>
                        <li>+5,000 SMS & 5,000 e-mails</li>
                        <li>+Feedback</li>
                        <li>+Customer Insights</li>
                      </ul>
                      <button class="spotbie-button p-2">BUY</button>
                    </div>

                    <div class="p2 text-start text-white">
                <span
                  style="font-size: 1.2rem"
                  class="sb-text-light-green-gradient"
                >COMING SOON</span
                >
                      <ul>
                        <li>+Starter Package</li>
                        <li>+Nearby Featured Ads</li>
                        <li>+0.03% Max Reward Rate</li>
                        <li>+10,000 SMS & 20,000 e-mails</li>
                        <li>+Advanced Targeting & Insights</li>
                        <li>+Automated Push Notifications</li>
                      </ul>
                      <!--               <button class="spotbie-button">BUY</button>-->
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="spotbie-overlay-window" *ngIf="displayLocationEnablingInstructions$ | async">

  <i class="fas fa-map-marker-alt"></i>

  <h2 class="spotbie-text-gradient text-uppercase mt-4" style="display: inline-block;">BONKERS!</h2>

  <div class='spotbie-text-gradient mt-2'>LOCATION DISABLED</div>

  <p class="sb-locationList text-center mt-3" (click)="openAppSettings()">
    <span class="spotbie-text-gradient">OPEN SETTINGS</span>
  </p>

  <div class="spotbie-button" (click)="mobileStartLocation()">
    <span class="spotbie-text-gradient text-uppercase mt-5 cursor-pointer p-1">TRY LOCATION</span>
  </div>
</div>

<div class='spotbie-overlay-window' *ngIf="placeSettingsFormUp">
    <form [formGroup]="businessSettingsForm">
        <table class='spotbie-settings-table' style="border-bottom: unset;">
            <tr>
                <td>
                    <div>
                        <div *ngIf="placeFormSubmitted && i.spotbieOrigin.errors else spotbie_origin_normal"
                            class="spotbie-input-info spotbie-text-gradient text-center spotbie-error">
                            <div *ngIf="i.spotbieOrigin.errors.required">
                                You must choose a place of origin!
                            </div>
                        </div>
                    </div>

                    <ng-template #spotbie_origin_normal>
                        <div class='mt-4'></div>
                        <label class="spotbie-input-info spotbie-text-gradient text-center mt-5 mb-2">
                            Where is your {{ accountTypeCategoryFriendlyName }} located?
                        </label>
                    </ng-template>

                    <div class='spotbie-map'>
                      <div id='settings-map'
                           *ngIf="map$ | async"
                           [ngClass]="getMapClass()"></div>
                    </div>
                </td>
            </tr>

            <div class="spotbie-input-info spotbie-text-gradient text-center mt-4" *ngIf="locationFound" >
                Find your {{ accountTypeCategoryFriendlyName }}.
            </div>

            <tr *ngIf="locationFound">
                <td>
                    <input class="sb-input spotbie-search-map-input sb-origin-address-input"
                            (keyup)="searchMapsKeyDown($event)"
                            autocorrect="off"
                            autocapitalize="off"
                            spellcheck="off"
                            type="text"
                            formControlName="originAddress"
                            maxlength="72"
                            #addressSearch />

                    <div class='spotbie-button sb-search-icon' (click)="searchMaps()"><i class='fa fa-search'></i></div>

                    <input class="sb-input" type="hidden" formControlName="spotbieOrigin" />

                    <div class='spotbie-place-picker'>
                        <div class='spotbie-place' *ngFor="let prediction of addressResults"  (click)="focusPlace(prediction);">
                            <span class='spotbie-text-gradient'>{{ prediction.description }}</span>
                        </div>
                    </div>
                </td>
            </tr>

            <div class='spotbie-input-info spotbie-text-gradient text-uppercase text-center mt-2 mb-3'
                 *ngIf='locationFound'>
                {{ originTitle }}
            </div>

            <img class='sb-business-img' [ngClass]="getBusinessImgStyle()" *ngIf='locationFound' src="{{originPhoto}}" />

            <div class='spotbie-input-info spotbie-text-gradient spotbie-place-address text-uppercase text-center mt-4 mb-3'
                 *ngIf='locationFound && place !== undefined'>
                {{  place.formatted_address }}
            </div>

            <!--
            <h6 class="spotbie-text-gradient text-uppercase mt-5 mb-4" #placeToEatMediaUploadInfo>
                {{ placeToEatMediaMessage }}
            </h6>

            <input type="file"
                class='spotbie-background-upload-input'
                #placeToEatMediaInput (change)="uploadMedia(placeToEatMediaInput.files)"
                accept="image/jpeg, image/gif, image/png"
                multiple=false >

            <div class='spotbie-upload-new-background-holder'
                [ngStyle]="{ 'background' : 'url(' + originPhoto + ')' }"
                (click)="startPlaceToEatMediaUploader()"
                #placeToEatUploader>
                <div class='spotbie-click-or-drag-upload'>
                    <span class="spotbie-text-gradient text-uppercase">tap or drag to upload</span>
                </div>
            </div>-->
            <tr *ngIf="locationFound">
                <td>
                    <div *ngIf="placeFormSubmitted && i.originTitle.errors else originTitleNormal"
                            class="spotbie-input-info spotbie-text-gradient text-center spotbie-error mt-4 mb-2">
                        <div *ngIf="i.originTitle.errors.required">
                            Choose {{ accountTypeCategoryFriendlyName }} title.
                        </div>

                        <div *ngIf="i.originTitle.errors.maxlength">
                            Title must be less than 25 characters long.
                        </div>
                    </div>

                    <ng-template #originTitleNormal>
                        <label class="spotbie-input-info spotbie-text-gradient text-center mt-4 mb-2" *ngIf="accountTypeCategory !== 'PERSONAL' && locationFound">
                            Choose {{ accountTypeCategoryFriendlyName }} title.
                        </label>
                    </ng-template>

                    <input class='sb-input text-uppercase' type='text' placeholder='Place Title' formControlName="originTitle"/>
                </td>
            </tr>
            <tr *ngIf="locationFound">
                <div *ngIf="placeFormSubmitted && i.originCategories.errors else originCategoriesNormal"
                     class="spotbie-input-info spotbie-text-gradient text-center spotbie-error mt-4 mb-2">
                  <div *ngIf="i.originCategories.errors.required">
                    Enter {{ accountTypeCategoryFriendlyName }} categories.
                  </div>
                </div>
                <ng-template #originCategoriesNormal>
                  <label class="spotbie-input-info spotbie-text-gradient text-center mt-4 mb-2">
                    Select {{ accountTypeCategoryFriendlyName }} category.
                  </label>
                </ng-template>

                <ion-list class='sb-input mb-3'>
                  <ion-item>
                    <ion-select aria-label="Add Category..."
                                placeholder="Add Category..."
                                interface="action-sheet"
                                class="sb-select"
                                #businessInput
                                formControlName="originCategories"
                                toggleIcon="caret-down-sharp"
                                (ionChange)="add($event)"
                                [value]="selected"
                    >
                      <ion-select-option *ngFor="let category of businessCategoryList; let i = index;" [value]="i">
                        {{ category }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
            </tr>
            <tr *ngIf="locationFound">
                <td style="padding-top: 0; padding-bottom: 0;">
                    <div *ngIf="placeFormSubmitted && i.originDescription.errors else spotbie_origin_description_normal"
                            class="spotbie-input-info mb-3 spotbie-text-gradient text-center spotbie-error">
                        <div *ngIf="i.originDescription.errors.required">
                            You must enter a description!
                        </div>

                        <div *ngIf="i.originDescription.errors.maxlength">
                            Your description can only be 350 characters long.
                        </div>

                        <div *ngIf="i.originDescription.errors.minlength">
                            Your description must be at least 100 characters.
                        </div>
                    </div>

                    <ng-template #spotbie_origin_description_normal>
                        <label class="spotbie-input-info spotbie-text-gradient text-center mb-2"
                                *ngIf="accountTypeCategory !== 'PERSONAL' && locationFound">
                            Enter {{ accountTypeCategoryFriendlyName }} description.
                        </label>
                    </ng-template>

                    <ion-textarea
                                formControlName="originDescription"
                                maxlength="350"
                                style="margin: 0 auto;"
                    ></ion-textarea>

                    <div class='spotbie-text-gradient mt-2 mb-2'>{{ originDescription.length }} / 350</div>
                </td>
            </tr>
            <ng-container *ngIf="accountTypeCategory === 'PLACE TO EAT'">
              <tr>
                <td style="color: white;">
                  <fa-icon class="food-truck" [icon]="faFoodTruckIcon"></fa-icon>
                  <mat-slide-toggle ngModel name="isFoodTruck" [style.color]="'#fff'"></mat-slide-toggle>
                  Food Truck?
                </td>
              </tr>
            </ng-container>
            <tr>
                <div class='btn spotbie-button p-2 mt-2 text-uppercase'
                     (click)="startBusinessVerification()"
                     *ngIf="locationFound"
                >Verify</div>
            </tr>
            <tr>
                <div class='spotbie-text-gradient text-center text-uppercase mt-4 mb-5'
                        *ngIf="(loading$ | async) === false"
                        style="cursor: pointer;"
                     (click)="cancelPlaceSettings()"
                >CANCEL</div>
            </tr>
        </table>
    </form>
</div>

<div class='spotbie-overlay-window' style="z-index: 99;" *ngIf="businessVerified" (click)="closeWindow()">
    <div class='sb-v-wrapper' style="display: grid; align-content: center;">
        <h4 class="spotbie-text-gradient text-uppercase">YOUR VERIFICATION WAS SUCCESSFUL</h4>

        <div class="sb-verificationCheck mt-4 mb-4">
            <i class="fa fa-check sb-text-light-green-gradient"></i>
        </div>

        <h4 class="spotbie-text-gradient text-uppercase">YOU ARE READY TO START</h4>
    </div>
</div>

<div class='spotbie-overlay-window' style="z-index: 99;" *ngIf="passKeyVerificationFormUp">
    <div class='sb-v-wrapper' style="display: grid; align-content: center;">
        <form [formGroup]="passKeyVerificationForm">
            <table class='spotie-settings-table'>
                <div *ngIf="passKeyVerificationSubmitted && j.passKey.errors else passkey_normal"
                     class="spotbie-input-info text-center text-uppercase spotbie-text-gradient spotbie-error mb-4">

                    <div *ngIf="j.passKey.errors.required">
                        Please enter your passkey.
                    </div>

                    <div *ngIf="j.passKey.errors.invalid">
                        Passkey doesn't match.
                    </div>

                    <div *ngIf="j.passKey.errors.minlength">
                        Passkey wrong length.
                    </div>

                    <div *ngIf="j.passKey.errors.claimed">
                        Business already claimed.
                    </div>
                </div>

                <ng-template #passkey_normal>
                    <div class="spotbie-input-info spotbie-text-gradient text-center text-uppercase mb-4">
                        Please enter your passkey.
                    </div>
                </ng-template>
                <tr>
                    <td>
                        <input class='sb-input text-center'
                               type='text'
                               maxlength="20"
                               formControlName="passKey" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='spotbie-text-gradient sb-helpDemoText text-center text-uppercase mt-4'>
                            Don't have one?<br/>
                            <span class='sb-text-light-green-gradient cursor-pointer'>
                              Give us a call.<br/>
                              +1 (786) 600-5946
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class='btn spotbie-button mt-4 mb-4'
                                (click)="claimThisBusiness()"
                                *ngIf="locationFound">
                            FINISH
                        </button>
                        <div class='spotbie-text-gradient text-center text-uppercase'
                             style="cursor: pointer;" (click)="closePassKey()">CANCEL</div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
