<app-loading-screen *ngIf="(loading$ | async) === true"></app-loading-screen>

<div class="spotbie-overlay-window">
    <div class='sb-closeButton' (click)="closeRewardCreator()">
        <i class="fa fa-times"></i>
    </div>

    <div #spbTopAnchor></div>

    <div class='sb-rewardCreatorWrapper'>
        <div *ngIf="(reward$ | async)">
            <h5 class="spotbie-text-gradient text-center text-uppercase pt-3 mb-4">USERS SCAN TO CLAIM</h5>

            <qrcode [qrdata]="rewardClaimUrl$ | async"
                    cssClass="spotbie-full-qrCode mt-4 mb-4"
                    colorDark="#000"
                    colorLight="#64e56f"
                    [width]="320"
                    errorCorrectionLevel="H"></qrcode>

            <span><i class="fa fa-exclamation-triangle"></i></span>

            <h5 class="spotbie-text-gradient text-center text-uppercase pt-3 mb-4" style="font-size: .8rem;">
                LOYALTY POINTS WILL BE DEDUCTED FROM SCANNER'S ACCOUNT
            </h5>
        </div>

        <h5 class="spotbie-text-gradient text-center text-uppercase pt-3 mb-4">REWARD CREATOR</h5>

        <form [formGroup]="rewardCreatorForm" *ngIf="(rewardCreatorFormUp$ | async) === true">
            <div class='spotbie-text-gradient text-uppercase text-center' #spbInputInfo></div>

            <div *ngIf="(rewardFormSubmitted$ | async) === true && f.rewardType.errors else rewardTypeTemplate"
                  class="spotbie-input-info spotbie-text-gradient spotbie-error mt-4 mb-2">
                <div *ngIf="f.rewardType.errors.required">
                    You must pick a reward type!
                </div>
            </div>

            <ng-template #rewardTypeTemplate>
                <label class="spotbie-input-info spotbie-text-gradient mb-2">
                    Reward Type
                </label>
            </ng-template>

            <ion-list class='sb-input mb-3'>
              <ion-item>
                <ion-select aria-label="Reward Type"
                            placeholder="Reward Type"
                            interface="action-sheet"
                            class="sb-select"
                            toggleIcon="caret-down-sharp"
                            (ionChange)="rewardTypeChange($event)"
                            [value]="rewardType">
                  <ion-select-option *ngFor="let rewardTypeName of rewardTypeList; let i = index;" [value]="i">
                    {{rewardTypeName}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <div *ngIf="((rewardFormSubmitted$ | async) === true) && f.rewardValue.errors else rewardValueNormalTemplate"
                    class="spotbie-input-info spotbie-text-gradient spotbie-error mb-2">
                <div *ngIf="f.rewardValue.errors.required">
                    Enter loyalty point cost.
                </div>
            </div>

            <ng-template #rewardValueNormalTemplate>
                <label class="spotbie-input-info spotbie-text-gradient mb-2">
                    Dollar Cost
                </label>
            </ng-template>

            <input class="sb-input"
                    (keyup)="calculatePointValue()"
                    formControlName="rewardValue"
                    type="text"
                    placeholder="250"
                    maxlength="6"
                    thousandSeparator=","
                    mask="separator.0" />

            <h6 class='mt-3 mb-3 sb-text-light-green-gradient text-uppercase'
                style="font-size: .8rem !important;"
                *ngIf="((dollarValueCalculated$ | async) === true) && ((businessPointsDollarValue$ | async))">
                {{ (businessPointsDollarValue$ | async) | number }} LOYALTY POINT VALUE
            </h6>

            <div *ngIf="((rewardFormSubmitted$ | async) === true && f.rewardName.errors) else rewardNameNormalTemplate"
                    class="spotbie-input-info spotbie-text-gradient spotbie-error mt-4 mb-2">
                <div *ngIf="f.rewardName.errors.required">
                    Enter reward name.
                </div>

                <div *ngIf="f.rewardName.errors.maxlength">
                    Maximum length - reward name - 50
                </div>
            </div>

            <ng-template #rewardNameNormalTemplate>
                <label class="spotbie-input-info spotbie-text-gradient mt-4 mb-2">
                    Reward Name
                </label>
            </ng-template>

            <input class="sb-input"
                    formControlName="rewardName"
                    type="text"
                    placeholder="My Reward"
                    maxlength="50" />

            <div *ngIf="((rewardFormSubmitted$ | async) === true) && f.rewardDescription.errors else rewardDescriptionNormalTemplate"
                    class="spotbie-input-info spotbie-text-gradient spotbie-error mt-4 mb-2">
                <div *ngIf="f.rewardDescription.errors.required">
                    Enter reward description.
                </div>

                <div *ngIf="f.rewardDescription.errors.minlength">
                    Min. length - description - 50
                </div>

                <div *ngIf="f.rewardDescription.errors.maxlength">
                    Max length - description - 250
                </div>
            </div>

            <ng-template #rewardDescriptionNormalTemplate>
                <label class="spotbie-input-info spotbie-text-gradient mt-4 mb-2">
                    Reward Description
                </label>
            </ng-template>

            <textarea class='spotbie-textarea spotbie-text-gradient mb-2'
                        formControlName="rewardDescription"
                        maxlength="150"
                        placeholder="Reward Description"
                        style="margin: 0 auto;"></textarea>

            <span class='spotbie-text-gradient'>{{ rewardDescription.length }}/150</span>

            <input type="hidden" formControlName="rewardImage" />

          <ng-container *ngIf="(canUseTiers$ | async) === true">
            <div class="mt-3 mb-3">
              <label class="spotbie-input-info spotbie-text-gradient">
                Reward Tier
              </label>

              <ion-list class='sb-input mb-3'>
                <ion-item>
                  <ion-select aria-label="Reward Tier"
                              placeholder="Reward Tier"
                              interface="action-sheet"
                              class="sb-select"
                              toggleIcon="caret-down-sharp"
                              (ionChange)="rewardTierChange($event)"
                              [value]="tier">
                    <ion-select-option [value]="null">None</ion-select-option>
                    <ion-select-option *ngFor="let tier of (existingTiers$ | async); let i = index;" [value]="tier.id">
                      {{tier.name}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <p class="spotbie-text-gradient" *ngIf="(rewardTier$ | async)">
                Tier Entrance Dollar Value <span class="sb-text-light-green-gradient">${{ dollarEntranceValue | number: '1.2':'en-US' }}</span><br/>
                Loyalty Points <span class="sb-text-light-green-gradient">{{ lpEntranceValue | number: '1.0':'en-US' }}</span>
              </p>

              <ng-container *ngIf="(existingTiers$ | async)?.length === 0">
                <p class="text-warning">You haven't created any Loyalty Tiers.</p>
                <p class="spotbie-text-gradient">Close the menu and tap on "Manage Tiers" to create Loyalty Tiers.</p>
              </ng-container>
            </div>
          </ng-container>
        </form>

        <form *ngIf="rewardType === 0 || rewardType === 2">
            <div *ngIf="((rewardFormSubmitted$ | async) === true) && f.rewardImage.errors else rewardMediaUploadInfoTemplate"
                    class="spotbie-input-info spotbie-text-gradient text-center spotbie-error mt-4 mb-2">
                <div *ngIf="f.rewardImage.errors.required">
                    Reward Image
                </div>
            </div>

            <ng-template #rewardMediaUploadInfoTemplate>
                <div class="spotbie-input-info spotbie-text-gradient text-center mt-4 mb-2" #rewardMediaUploadInfo>
                    {{ rewardMediaMessage$ | async }}
                </div>
            </ng-template>

            <ng-container *ngIf="($showDeniedMediaUploader | async) === false">
              <div class='spotbie-upload-new-background-holder'
                   [ngStyle]="{ 'background' : 'url(' + (rewardUploadImage$ | async) + ')' }"
                   (click)="startRewardMediaUploader()"
                   #spotbieRewardUploader>
                <div class='spotbie-click-or-drag-upload'>
                  <span class="spotbie-text-gradient text-uppercase">tap to upload</span>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="($showDeniedMediaUploader | async) === true">
              <div class='spotbie-upload-new-background-holder'>
                <div class='spotbie-click-or-drag-upload' (click)="openAppSettings()">
                  <span>PHOTO LIBRARY DISABLED</span>
                  <br/>
                  <i class="fas fa-camera-alt"></i>
                  <span class="spotbie-text-gradient text-uppercase"> OPEN SETTINGS</span>
                </div>
              </div>
            </ng-container>
        </form>

        <div class='spotbie-button text-uppercase mt-5' (click)="saveReward()">
            <span class='spotbie-text-gradient'>SAVE</span>
            <i class='fa fa-check'></i>
        </div>

        <div class='mt-5 mb-5 cursor-pointer' (click)="closeRewardCreator()">
            <span class="spotbie-text-gradient">CANCEL</span>
        </div>

        <div class='mt-5 mb-5 sb-deleteMe' *ngIf="(reward$ | async)" (click)="deleteMe()">
            <span class="spotbie-text-gradient">DELETE </span><i class='fa fa-trash'></i>
        </div>
    </div>
</div>

<div class='spotbie-overlay-window' *ngIf="(rewardCreated$ | async) === true">
    <div class='sb-v-wrapper' style="display: grid; align-content: center;">
        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">UPLOAD SUCCESSFUL</h4>

        <div class="sb-verificationCheck sb-text-light-green-gradient mt-4 mb-4">
            <i class="fa fa-check"></i>
        </div>

        <h4 class="spotbie-text-gradient spotbie-r-success-title text-uppercase">REWARD IS LIVE</h4>
    </div>
</div>

<div class='spotbie-overlay-window' *ngIf="(rewardDeleted$ | async) === true">
    <div class='sb-v-wrapper' style="display: grid; align-content: center;">
        <h4 class="spotbie-text-gradient text-uppercase">REWARD WAS DELETED</h4>

        <div class="sb-verificationCheck sb-text-light-green-gradient mt-4 mb-4">
            <i class="fa fa-check"></i>
        </div>

        <h4 class="spotbie-text-gradient text-uppercase">CONTINUE</h4>
    </div>
</div>
