.spotbie-overlay-window{
    padding-bottom: 50px;
    padding-top: 100px;
    background: #332f3e;
    text-align: center;    
    z-index: 97 !important;
}
.sb-rewardCreatorWrapper{
    position: relative;
    margin: 0 auto;
    max-width: 900px;
}
.sb-input{
    text-align: center;
    width: 450px;
    min-width: 450px;
}
ion-item{
  background-color: white;
}

ion-item, ion-list{
  background: white;
}

.item-native {
  background: white;
}

ion-select {
  --placeholder-color: #332f3e;
  --placeholder-opacity: 1;
  width: 90%;
  min-width: 90%;
  max-width: 90%;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
  background-color: white;
}

ion-select::part(placeholder)::first-letter {
  font-size: 1rem;
  background-color: white;
}

ion-select::part(text) {
  color: #332f3e;
  background-color: white;
}

ion-select::part(icon) {
  color: #332f3e;
  opacity: 1;
  background-color: white;
}

.action-sheet-group.sc-ion-action-sheet-ios {
  background-color: white !important;
}

.sb-select, ion-item{
  --background: 'white';
  --border-color: 'none';
  --border-width: 0px;
}

.spotbie-background-upload-input{
    display: none;
}
.spotbie-upload-new-background-holder{
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    cursor: pointer; 
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.56);
}
.spotbie-click-or-drag-upload{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    min-width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.66);
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
}
img.sb-loyalty-points{
    width: 15px;
    min-width: 15px;
    max-width: 15px;
    cursor: default;
}
img.sb-loyalty-points:hover{
    width: 15px;
    min-width: 15px;
    max-width: 15px;  
}
h5{
    font-size: 1rem;
}
.sb-verificationCheck {
  .fa-check{
    color: #4caf50;
    margin-left: unset;
  }
}

.fa-check{
    background: unset !important;
    color: white;
    margin-left: 5px;
}
@media (max-width: 768px){
    .spotbie-upload-new-background-holder{
        max-width: 450px;
        width: 450px;
        min-width: 450px;
    }
  .sb-rewardCreatorWrapper {
    max-width: 85%;
    width: 85%;
  }
}
@media (max-width: 600px){
    .sb-input,
    .spotbie-input-info{
        max-width: 90%;
        width: 90%;
        min-width: 90%;
        text-align: left;
    }
    .spotbie-upload-new-background-holder {
        width: 90%;
        min-width: 90%;
        max-width: 90%;
        height: 300px;
        min-height: 300px;
        max-height: 300px;
        border-radius: 5px;
    }    
    .spotbie-input-info{
        font-size: .8rem;
    } 
    .spotbie-upload-new-background-holder{
        border: 1px solid #eeeeee24;
    }   
    .spotbie-click-or-drag-upload{
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        min-width: 100%;
        text-align: center;
        background-color: rgb(0 0 0 / 41%);
        font-size: 15px;        
    }   
    .spotbie-r-success-title{
        font-size: 1rem;
    }
}
