.spotbie-overlay-window{
    padding-bottom: 0px;
    padding-top: 70px;
    background-color: #1b1822;
    padding-bottom: 100px;
    background: url(src/assets/images/home_imgs/spotbie-white-icon.svg);
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    z-index: 90 !important;
    min-width: 100%;
    width: 100%;
    color: black;
}
.communityMemberWindow{
    background-color: #1b1822;
}
.infoObjectWindow{
    background-color: white;
}
.spotbie-bgIconLogo{
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    background: url(src/assets/images/qr/spotbie-white-icon.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow:  hidden !important;
    z-index: 0;
}
.spotbie-repost-title{
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.spotbie-copy-link-button{
    padding-top: 60px !important;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}
.spotbie-share-post-link{
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.sb-input{
    width: 850px;
    min-width: 850px;
    max-width: 850px;
    background-color: rgba(0,0,0,0.13);
    color: #332f3e;
    cursor: pointer;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #332f3e;
    border-top: 1px solid #332f3e;
    text-align: center;    
}
.spotbie-share-button{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 99%;
    padding: 15px;
    min-width: 48px;
    border: none;
    box-shadow: 0px 0px 12px #ffffff45;
    cursor: pointer;
}
.spotbie-share-buttons-wrappper{
    margin-top: 40px;
    text-align: center;
}
.spotbie-media-caption{
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.spotbie-media-description{
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.spotbie-album-media-image{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 650px;
    max-height: 550px;
    height: 550px;
}
.spotbie-album-media-image-blur{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.88);
    z-index: -1;
}
.spotbie-info-object-image{
    position: absolute ;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%; 
    z-index: -1;       
}
.spotbie-info-object-image.communityMember{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.spotbie-toast-message{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.sb-closeButton{
    z-index: 99;
}
.sb-closeButton.fullScreenMode{
    top: 20px;
}
.spotbie-info-object-transactions{
    position: relative;
    margin: 0 auto;
    max-width: 98%;
}
.spotbie-search-result-phone{
    position: relative;
    margin-top: 40px;
    font-size: 25px;
}
.spotbie-friendly-ph{
    position: relative;
}
.spotbie-friendly-ph:active{
    color: unset !important;
}
.spotbie-venue-name{
    font-weight: bold;
    margin-bottom: 20px;
}
.fa-share, .fa-map-marker-alt{
  color: white;
}
.fa-globe{
    font-size: 46px;
}
.spotbie-info-object-title{
    position: relative;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 90px;
    margin-bottom: 25px;
}
.spotbie-info-object-title.fullScreenMode{
    margin-top: 50px;
}
.spotbie-info-object-image-list{
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}
.spotbie-info-object-image-thumb{
    position: relative;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    height: 30vw;
    min-height: 30vw;
    background-size: cover!important;
    background-position: center!important;
    border-radius: 5px;     
}
.spotbie-search-result-yelp-logo{
    position: relative;
    margin-top: 2px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
    width: 48px;
    min-width: 48px;
    max-width: 48px;       
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;      
}
.spotbie-yelp-rating-table{
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}
.spotbie-yelp-rating-table td{
    vertical-align: middle;
}
.spotbie-search-result-table td{
    vertical-align: top !important;
}
.spotbie-search-result-rating{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.spotbie-search-result-rating-img{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
    width: 132px;
    min-width: 132px;
    max-width: 132px;   
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;      
}
.spotbie-distance{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 200px;
    cursor: pointer;
}
.spotbie-info-object-address{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.spotbie-info-object-buttons i{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}
.spotbie-button{
    background-color: rgba(0,0,0,.5);
}
.spotbie-add-to-favorites{
    position: relative;
    cursor: pointer;
    max-width: 185px;
    border-radius: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background: linear-gradient(90deg,#64e56f,#35a99f);
    color: #1b1a1e !important;
    font-size: .8rem;
}
.spotbie-info-object-open {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}
.sb-miniLogoIcon, h1{
    display: inline-block;
    margin-bottom: 0px !important;
}
.sb-miniLogoIcon{
    position: relative;
    max-width: 31px;
    margin-right: 15px;
    top: -10px;
}    
h6.sb-titleGreen{
    font-size: .8rem;
}
.sb-titleGreen{
    background: -webkit-linear-gradient(45deg,#67e76c,#67e76c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Gotham-Bold';
    font-size: 3rem;
}
.sb-text-light-green-gradient {
    background: -webkit-linear-gradient(90deg,#67e76c,#64e56f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}
.fa-plus, .fa-minus{
    color: #1b1a1e !important;
    margin-left: 10px;
}
.spotbie-communityMemberDescription{
    position: relative;
    margin: 0 auto;
    max-width: 950px;
}
.sb-infoObjectInputLight{
    color: white;
}
.sb-infoObjectInputDark{
    color: #332f3e;
}
.spotbie-info-object-is-sponsored{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 15px;
    font-size: .8rem;
}
.fa-search-dollar{
    font-size: .8rem;
    margin-left: 5px;
}
@media (max-width: 1024px) { 
    .spotbie-communityMemberDescription{
        max-width: 90%;
        width: 90%;
        min-width: 90%;
    }
}
@media (max-width: 900px) { 
    .sb-input{
        width: 92%;
        min-width: 92%;
        max-width: 92%;        
    }
}
@media (max-width: 840px) {
    .spotbie-info-object-image-thumb{
        margin-left: unset;
        margin-right: unset;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border-radius: 0px;
        height: 60vw;
        min-height: 60vw;
        background-size: cover!important;
        background-position: center!important;
    }
}
@media (max-width: 560px) { 
    .spotbie-info-object-title {
        font-size: 18px;
        max-width: 90%;
        letter-spacing: 1px;
    }
    .spotbie-info-object-title h1{
        font-size: 1.2rem;
    }
    .spotbie-info-object-open{
        font-weight: normal;
    }
    .spotbie-overlay-window{
        padding-top: env(safe-area-inset-top, 20px);
        padding-bottom: 50px !important;
        background-attachment: scroll !important;  
    }
    .spotbie-share-post-link{
        margin-bottom: 20px !important;
    }
    .sb-input{
        width: 92%;
        min-width: 92%;
        max-width: 92%;        
    } 
    .spotbie-time-event,
    .spotbie-distance,
    .spotbie-event-code,
    .spotbie-price-ranges,
    .spotbie-venue-name{
        font-size: .9rem;
    }    
    .spotbie-communityMemberDescription{
        max-width: 92%;
        font-size: .9rem;
    } 
    .sb-miniLogoIcon{
        max-width: 18px;
        margin-right: unset;
    }  
    h6.sb-titleGreen{
        font-size: .5rem;
    }
    h1.sb-titleGreen{
        position: relative;
        margin: 0 auto;
        font-size: .9rem;
        max-width: 90%;
        width: 90%;
        min-width: 90%;
    }       
}
@media (max-width: 460px) { 
    .spotbie-info-object-open{
       font-size: 15px !important;
    }
}
