<div class="spotbie-overlay-window">

  <div class="sb-closeButton" (click)="closeWindowX()">
    <i class="fa fa-times"></i>
  </div>
  
  <div class='sb-forgot-password-wrapper'>

    <h2 class="spotbie-text-gradient text-uppercase">
      Password Recovery
    </h2>

    <div class="mt-3"></div>

    <form [formGroup]="passwordResetForm" *ngIf="step_one">
      
      <div *ngIf="passResetSubmitted && g.spotbie_email_or_ph.errors else spotbie_reset_1_normal" class="spotbie-invalid-feedback animated shake"> 

        <div *ngIf="g.spotbie_email_or_ph.errors.maxlength">
          E-mail can only be 130 characters in length.
        </div>

        <div *ngIf="g.spotbie_email_or_ph.errors.required">
          Please enter your e-mail.
        </div>

      </div> 

      <ng-template #spotbie_reset_1_normal>

        <div #getLinkMessage class="spotbie-text-gradient spotbie-contact-me-info">
          {{ email_or_ph_error }}
        </div>

      </ng-template>    

      <table class="sb-inputWithIconWrapper">

        <td class="sb-iconInInputWrapper">
          <i class="fa fa-envelope"></i>
        </td>
  
        <td>          

          <input class="sb-input" id="spotbieLoginUsername" formControlName="spotbie_email_or_ph" type="text" placeholder="E-MAIL" autocomplete="email"/>

        </td>
  
      </table>

      <button class="spotbie-button spotbie-padding text-uppercase mt-5" (click)="setPassResetPin()">
        Send Reset Link
      </button>

    </form>
    
    <div *ngIf="step_two">
    
      <div>

          <div class="spotbie-text-gradient spotbie-contact-me-info">
            {{ pin_ready_msg }}
          </div>

      </div>    

    </div>

    <form [formGroup]="passwordForm" *ngIf="step_three">

      <table class='spotbie-settings-table'>      

        <tr>
            <td>
                <div *ngIf="password_submitted && h.spotbieResetPassword.errors else spotbie_password_normal" class="spotbie-text-gradient spotbie-error mb-2">
      
                  <div *ngIf="h.spotbieResetPassword.errors.required">
                      Enter a new password.
                  </div>       
            
                  <div *ngIf="h.spotbieResetPassword.errors.oneNumber">
                    Password must contain at least one number (0-9)!
                  </div> 

                  <div *ngIf="h.spotbieResetPassword.errors.oneLowerCase">
                    Password must contain at least one lowercase letter (a-z)!
                  </div>  

                  <div *ngIf="h.spotbieResetPassword.errors.oneUpperCase">
                    Password must contain at least one uppercase letter (A-Z)!
                  </div>                       

                </div>                       

                <ng-template #spotbie_password_normal>
    
                    <label class="spotbie-text-gradient mb-2" #spotbie_password_change_info_text>
                        {{ new_password_msg }}
                    </label>
                    
                </ng-template>       

                <input class="sb-input mb-4" (click)="$event.target.select()" 
                      formControlName="spotbieResetPassword" 
                      type="password" 
                      value="password"
                      placeholder="New Password"
                      autocomplete="false"/>

            </td>
        </tr>

        <tr>

            <td>

              <div *ngIf="password_submitted && h.spotbieResetPasswordC.errors else spotbie_confirm_password_normal" class="spotbie-text-gradient spotbie-erro mb-2">          
        
                <div *ngIf="h.spotbieResetPasswordC.errors.mustMatch">
                  Your passwords must match.
                </div>
                
                <div *ngIf="h.spotbieResetPasswordC.errors.required">
                    Please confirm your password.
                </div>

              </div> 

              <ng-template #spotbie_confirm_password_normal>
                  <label class="spotbie-text-gradient mb-2">
                      Confirm your new password.
                  </label>
              </ng-template>

              <input class="sb-input mb-4" (click)="$event.target.select()" 
                      formControlName="spotbieResetPasswordC" 
                      type="password" 
                      value="newpassword" 
                      placeholder="Confirm New Password"
                      autocomplete="false" />
            
            </td>

        </tr>

        <tr>
            <td class='spotbie-button text-uppercase' (click)="completeSavePassword()">
                Save New Password
            </td>
        </tr>
        <!-- End Of Change Password Block -->        

        </table>

    </form>

    <div class="mt-5 mb-5" *ngIf="step_four">
    
      <p class="spotbie-text-gradient">
        Password changed.
      </p>
      <br/><br/>
      <span class="spotbie-text-gradient cursor-pointer" (click)="goHome()">
        You may now log-in.
      </span>

  </div>  
  
  </div>

</div>

<app-loading-screen *ngIf="loading"></app-loading-screen>