.sb-forgot-password-wrapper{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    min-width: 300px;
    max-width: 300px;
    top: 40%;
    transform: translateY(-50%);
    background-color: var(--ion-color-primary-shade);
}
.spotbie-contact-me-info{
    font-size: 17px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}
.sb-input{
    width: 90%;
    min-width: 90%;
    max-width: 90%;
}

.spotbie-success-pass{
    font-size: 20px;
    box-shadow: unset;
    line-height: 60px;
}

.sb-inputWithIconWrapper{
    position: relative;
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 15px;
    border-spacing: 0px;
    table-layout: fixed;
    background: linear-gradient(45deg,#64e56f, #35a99f );
    opacity: 0.65;
}
.sb-inputWithIconWrapper .fa.fa-user,
.sb-inputWithIconWrapper .fa.fa-envelope,
.sb-inputWithIconWrapper .fa.fa-lock{
    font-size: 25px;
}
.sb-iconInInputWrapper{
    vertical-align: middle;
    min-width: 50px;
    color: white;
}
.sb-inputWithIconWrapper .sb-input{
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 100%;
    width: 100%;
    border: 1px solid #64e56f;
    text-align: left;
    padding-left: 3%;
}
.sb-closeButton{
    top: 175px;
    right: 1%;
}
.log-in-wrapper {
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

ion-content {
  --background: 'transparent';
}

/**WIDTH MEDIA QUERIES */
@media (max-width: 768px) { 
    .sb-input{
        width: 90%;
        min-width: 90%;
        max-width: 90%;        
    }      
}
@media (max-width: 560px) { 
    h2{
        font-size: 1.2rem;
    } 
    .spotbie-invalid-feedback{
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 20px;       
    }
    .spotbie-settings-table{
        width: 95%;
        min-width: 95%;
        max-width: 95%;        
    }
    .spotbie-input-info,
    .spotbie-contact-me-info{
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        width: 95%;
        min-width: 95%;
        max-width: 95%;
        font-size: 1rem;
    }
}
@media (max-width: 360px) {  
    .spotbie-contact-me-info{
        font-size: 16px;           
    }
    .sb-inputWithIconWrapper .sb-input{
        font-size: 16px;
    }      
}
