<ion-header class="my-list-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="text-center">
  <div class="log-in-wrapper">
    <div class="pb-4 pt-4"></div>
    <h2 class="spotbie-text-gradient mt-4">
      Password Recovery
    </h2>

    <div class="mt-3"></div>

    <form [formGroup]="passwordResetForm" *ngIf="stepOne$ | async">
      <div *ngIf="(passResetSubmitted$ | async) && g.spotbieEmailOrPh.errors else spotbie_reset_1_normal"
           class="spotbie-invalid-feedback">
        <div *ngIf="g.spotbieEmailOrPh.errors.maxlength">
          E-mail can only be 130 characters in length.
        </div>

        <div *ngIf="g.spotbieEmailOrPh.errors.required">
          Please enter your e-mail.
        </div>
      </div>

      <ng-template #spotbie_reset_1_normal>
        <div #getLinkMessage class="spotbie-text-gradient spotbie-contact-me-info">
          {{ emailOrPhError$ | async }}
        </div>
      </ng-template>

      <table class="sb-inputWithIconWrapper">
        <td class="sb-iconInInputWrapper">
          <i class="fa fa-envelope"></i>
        </td>
        <td>
          <input class="sb-input"
                 id="spotbieLoginUsername"
                 formControlName="spotbieEmailOrPh"
                 type="text"
                 placeholder="E-MAIL"
                 autocomplete="email" />
        </td>
      </table>

      <button class="btn spotbie-button mt-3" (click)="setPassResetPin()">
        Send Reset Link
      </button>
    </form>

    <div *ngIf="stepTwo$ | async">
      <div>
        <div class="spotbie-contact-me-info">
          {{ pinReadyMsg$ | async }}
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-loading-screen *ngIf="loading$ | async"></app-loading-screen>

