.spotbie-overlay-window{ 
    background: url('../../../../assets/images/home_imgs/jpg/spotbie-login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color: #32303e;   
    z-index: 98 !important;
}
.sb-closeButton{
    top: 0px;
    z-index: 99;
}
.spotbie-paragraph{
    text-indent: unset;
}
.sb-forgot-password-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
}

.spotbie-contact-me-info{
    font-size: 17px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.sb-input{
    width: 90%;
    min-width: 90%;
    max-width: 90%;
}
.spotbie-button{
    width: 350px;
    min-width: 350px;
    max-width: 350px;   
}
.spotbie-settings-table{
    margin: 0 auto;
    width: 450px;
    min-width: 450px;
    max-width: 450px;
}
.spotbie-success-pass{
    font-size: 20px;
    box-shadow: unset;
    line-height: 60px;
}
.spotbie-invalid-feedback {
    margin-bottom: 30px;
}
.sb-inputWithIconWrapper{
    position: relative;
    margin: 0 auto;
    min-width: 440px;
    margin-bottom: 15px;
    border-spacing: 0px;
    table-layout: fixed;
    background: linear-gradient(45deg,#64e56f, #35a99f );
    opacity: 0.65;
}
.sb-inputWithIconWrapper .fa.fa-user,
.sb-inputWithIconWrapper .fa.fa-envelope,
.sb-inputWithIconWrapper .fa.fa-lock{
    font-size: 25px;
}
.sb-iconInInputWrapper{
    background: linear-gradient(45deg,#64e56f, #35a99f);
    vertical-align: middle;
    min-width: 50px;
    color: white;
}
.sb-inputWithIconWrapper .sb-input{
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 100%;
    width: 100%;
    border: 1px solid #64e56f;
    text-align: left;
    padding-left: 3%;
}
.sb-closeButton{
    top: 75px;
    right: 1%;
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1300px) { 

}
@media (max-width: 1200px) {   

}
@media (max-width: 1024px) { 
}
@media (max-width: 900px) { 
}
@media (max-width: 768px) { 
    .sb-input{
        width: 90%;
        min-width: 90%;
        max-width: 90%;        
    }      
}
@media (max-width: 700px) { 

}
@media (max-width: 600px) { 
    .sb-inputWithIconWrapper{
        min-width: 100%;
    } 
}
@media (max-width: 560px) { 
    h2{
        font-size: 1.2rem;
    } 
    .spotbie-invalid-feedback{
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 20px;       
    }
    .spotbie-settings-table{
        width: 95%;
        min-width: 95%;
        max-width: 95%;        
    }    
    .spotbie-button{
        width: 80%;
        min-width: 80%;
        max-width: 80%;
        font-size: 18px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .spotbie-input-info,
    .spotbie-contact-me-info{
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        width: 95%;
        min-width: 95%;
        max-width: 95%;
        font-size: 1rem;
    }
  
}
@media (max-width: 460px) { 
              
}
@media (max-width: 420px) { 
                   
}
@media (max-width: 360px) {  
    .spotbie-contact-me-info{
        font-size: 16px;           
    }
    .sb-inputWithIconWrapper .sb-input{
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }      
}

@media (max-width: 320px) {

}
@media (max-width: 220px) { 

}
@media (max-width: 120px) { 

}