.sb-miniLogoIconM{
    position: relative;
    margin-top: -6px;
    margin-right: 3px;
    width: 16px;
    max-width: 19px;
}
.spotie-prompt{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: black;
}
.spotbie-map{
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.spotbie-map.sb-map-results-open{
    height: 60vh;
    max-height: 60vh;
    min-height: 60vh;
}
.spotbie-agm-map.sb-map-results-open{
    height: 60vh;
    max-height: 60vh;
    min-height: 60vh;
}
.spotbie-profile-pop{
    position: fixed;
    right: 0%;
    left: 0%;
    margin: 0 auto;
    top: 20%;
    transform: translateY(-20%);
    height: 650px;
    min-height: 650px;
    max-height: 650px;
    width: 450px;
    min-width: 450px;
    max-width: 450px;
    z-index: 98;
    padding: 20px;
    border-radius: 15px;
}
.spotbie-profile-right-user-default{
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    height: 250px;
    max-height: 250px;
    margin-top: 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.spotbie-search-result-price{
    font-size: 16px;
    font-weight: bold;
}
.spotbie-category-search-yelp{
    position: fixed;
    bottom: 20px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    min-width: 450px;
    max-width: 450px;
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 97;
}
.spotbie-search-result-transactions{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: .6rem;
    text-align: left;
}
.spotbie-searchbar{
    position: relative;
    margin: 0 auto;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
}
.spotbie-categoryPull{
    position: relative;
    margin: 0 auto;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    text-align: center;
}
.spotbie-close-categories{
    position: absolute;
    bottom: 11px;
    right: -70px;
    z-index: 99;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(43, 194, 136);
}
.spotbie-controls-search-results{
    position: relative;
    padding: 10px 1% 15px 0%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}
.spotbie-controls-search-results td{
    border-right: 1px solid white;
    padding: 0px 10px !important;
    color: #332f3e;
}
.spotbie-categories{
    position: fixed;
    z-index: 97;
    min-height: 100vh;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    right: -1%;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 20px;
}
.search-spotbie-categories{
    direction: ltr;
    position: fixed;
    top: 20px;
    right: 280px;
    background-color: inherit;
    border-radius: 99%;
    color: white;
    padding: 5px;
    background-color: white;
}
.spotbie-single-cat{
    position: relative;
    padding: 15px 38px;
    text-align: left;
    cursor: pointer;
    background-color: rgba(0,0,0,.02);
    transition: all .2s;
    color: #332f3e;
    text-transform: uppercase;
    font-size: .8rem;
}
.spotbie-single-cat:hover,
.spotbie-single-cat.single-cat-light:hover{
    background-color: rgba(0,0,0,.1);
}
.spotbie-single-cat.single-cat-light{
    background-color: rgb(51 47 62 / 8%);
}
.spotbie-search-results-title{
    position: relative;
    width: 98%;
    min-width: 98%;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    padding-top: 13px;
    text-align: left;
    background-color: transparent;
    font-size: .8rem;
    color: black;
}
.spotbie-sorting{
    font-size: 14px;
    padding-top: 0px;
}
.spotbie-sub-cat{
    position: relative;
    background-color: transparent;
    text-align: center;
    margin-top: 3px;
    word-break: break-word;
    font-size: 13px;
    font-weight: normal;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e3e3e3;
}
.spotbie-subgenre{
    position: relative;
    right: -8px;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 11px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-top: 7px;
    font-size: 15px;
}
.spotbie-search-result-title{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Gotham-Bold';
    color: 'white';
    font-weight: bold;
}
.spotbie-review-count{
    position: relative;
    padding-bottom: 5px;
    padding-left: 1px;
    font-size: .6rem;
}
.spotbie-distance{
    font-size: .7rem;
}
.spotbie-time-event,
.spotbie-event-code,
.spotbie-price-ranges,
.spotbie-venue-name{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .9rem;
}
.spotbie-price-ranges{
    font-size: 16px;
}
.spotbie-venue-name{
    font-weight: bold;
}
.spotbie-event-code{
    font-size: 13px;
    text-transform: capitalize;
}
.spotbie-search-result-phone{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.spotbie-search-result-rating{
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}
.spotbie-search-result-rating-img{
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  width: 132px;
  min-width: 132px;
  max-width: 132px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.spotbie-search-result-yelp-logo{
  position: relative;
  margin-top: 2px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.spotbie-yelp-rating-table td{
    vertical-align: middle;
}
.spotbie-search-result-table td{
    vertical-align: top !important;
}

.spotbie-search-result-image{
  position: relative;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-right: 15px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 5px;
}
.spotbie-search-results {
  position: relative;
  margin: 0 auto;
  background-color: #f3f3f3;
  text-align: left;
}
.spotbie-search-result{
  color: black;
  background-color: rgb(28 25 36 / 14%);
}
.no-results{
  padding-top: 25px;
  padding-bottom: 25px;
}
.spotbie-search-results.no-results .spotbie-search-results-title{
  text-align: center;
}
.spotbie-search-result-wrapper{
  position: relative;
  margin: 0 auto;
  text-align: center;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}
.spotbie-search-result{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  min-width: 24%;
  max-width: 24%;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
  text-align: left;
  text-transform: uppercase;
  font-size: .8rem;
  min-height: 225px;
}
.spotbie-communityMember-search-result{
  background-color: #1c1924!important;
  background: url(../../../assets/images/home_imgs/spotbie-white-icon.svg);
  background-repeat: no-repeat!important;
  background-size: cover;
  background-position: center;
}
.spotbie-communityMember-search-result .spotbie-search-result-title{
  word-break: break-word;
}
.spotbie-communityMember-search-result p{
  word-wrap: break-word;
}
.spotbie-next-previous-table-big{
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.spotbie-next-previous-table-big .spotbie-button-cell{
  display: table-cell;
  font-size: 16px;
}
.sb-page-button {
  display: inline-block;
  padding: 10px 5px!important;
  margin: 5px;
  font-size: .8rem !important;
  color: black;
}
.sb-community-member-brand{
    position: relative;
    display: block;
    min-width: 100%;
    text-align: left;
    font-size: .7rem;
    margin-bottom: 0px;
}
.sb-community-member-brand .sb-text-light-green-gradient{
    background: -webkit-linear-gradient(90deg,#25c540,#64e56f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}
.sb-miniLogoIcon{
    position: absolute;
    margin-top: -8px;
    left: 8px;
    width: 27px;
    max-width: 27px;
    margin-right: 0;
    z-index: 2;
}
span.spotbie-button{
    position: relative;
    display: inline-block !important;
    font-size: 16px;
    text-decoration: unset;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 150px;
    width: 150px;
    min-width: 162px;
}
.spotbie-result-page{
    display: inline-block;
    min-width: 35px;
    width: 35px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    padding: 4px 5px;
    background-color: rgb(51 47 62 / 63%);
    color: #fff;
    border-radius: 99px;
}
.spotbie-result-page.active{
    background-color: rgba(51 47 62);
}
.spotbie-button{
    background-color: rgba(0,0,0,.23);
}
.spotbie-button-prompt{
    background-color: #8BC34A;
}
.spotbie-profile-right-username{
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.23);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    border-radius: 10px;
}
.spotbie-profile-right-close-slider{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color:black;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.spotbie-profile-right-visit-profile{
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: rgba(0,0,0,.23);
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}
.spotbie-map-search-wrapper{
    position: relative;
    top: 6px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: none;
}
.spotbie-map-search-by{
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height:40px;
    height: 40px;
    max-height: 40px;
    table-layout: fixed;
}
.spotbie-map-search-by td{
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    cursor: pointer;
    width: 100%/7;
}
.spotbie-map-search-by{
    text-align: center;
}
.spotbie-map-search-by div{
    position: relative;
    margin: 0 auto;
    min-height: 35px;
    height: 35px;
    max-height: 35px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.spotbie-controls-search-results img{
    width: 20px;
    min-width: 20px;
    max-width: 20px;
}
.spotbie-map-search-by i{
    position: relative;
    margin: 0 auto;
    display: block;
    font-size: 35px;
}
.spotbie-bar-profile-description{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 98%;
    min-width: 98%;
    max-width: 98%;
    padding: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    font-size: 16px;
}
.spotbie-close-results-mobile{
    position: relative;
    margin: 0 auto;
    display: none;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    z-index: 90;
    font-weight: bold;
    color: #332f3e;
    max-width: 350px;
}

.gm-style-iw-c{
    background: linear-gradient(#64e56f, #35a99f);
}
.agm_infowindow_color{
    color: black;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}
.spotbie-marker-bg{
    left: -8px;
    top: -20px;
    max-height: 40px;
    min-height: 40px;
    height: 40px;
    max-width: 40px;
    min-width: 40px;
    max-width: 40px;
    background-color: teal;
    border-radius: 99px;
    background-position: center !important;
    background-size: 40px !important;
    cursor: pointer;
    overflow: hidden;
    z-index: 98;
    border: 2px solid rgb(22 181 146);
}
.spotbie-marker-bg:hover{
    border: 1px solid rgb(22 181 146);
}
.spotbie-marker-bg.sb-communityMember{
    min-height: 45px;
    height: 45px;
    width: 45px;
    min-width: 45px;
    background-size: 45px !important;
    border: 2px solid #ff7220;
    z-index: 99;
}

.pulse {
    overflow: visible;
    position: relative;
}
.pulse:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .3s, transform .3s;
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
    z-index: -1;
}
@keyframes pulse-animation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.sb-communityMember img{
    position: absolute;
    top: -2px;
    left: -1px;
    width: 15px;
    max-width: 15px;
}
.spotbie-close-results{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 90;
}
.spotbie-pull-from{
    position: relative;
    padding: 10px;
    padding-left: 0px;
}
.spotbie-pull-from td{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.spotbie-api-pull{
    cursor: pointer;
    background-color: rgba(0,0,0,.25);
    border-radius: 20px;
}
.map-prompt-mobile{
    left: 0px;
    width: 100%;
    min-width: 100%;
}

.map-prompt-mobile p{
    margin: 0 auto;
    font-size: .8rem;
    line-height: 1.5rem;
    text-align: justify;
    text-align-last: center;
    color: white;
    max-width: 800px;
    width: 800px;
    min-width: 800px;
}
.map-prompt-v-align{
    position: relative;
    display: table;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 650px;
    max-width: 100%;
}
.map-prompt-mobile .sb-filler{
    position: absolute;
    top: 0px;
    width: 100%;
    min-width: 100%;
    bottom: 0px;
    height: 100%;
    min-height: 100%;
    background: linear-gradient(#64e56f, #35a99f);
}
swiper{
  min-height: 100%;
  height: 100%;
  width: 100%;
}
.swiper-slide{
    background-position: center !important;
    background-size: cover !important;
}

.map-prompt-mobile .title{
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
}
.map-prompt-mobile .spotbie-button:hover,
.map-prompt-mobile .spotbie-button:focus{
    animation: 1s;
    box-shadow: 0px 0px 42px rgb(221 221 221 / 25%);
}
.swiper-button-prev,
.swiper-button-next{
    color:white;
    background-image: unset;
}
.sb-mapWrapper{
    overflow-y: scroll;
}
#doubleTapThis{
    position: relative;
    margin: 0 auto;
    color: white;
}
.sb-deliverySortImg{
    width: 17px !important;
    min-width: 17px !important;
    max-width: 17px !important;
}
.sb-pickUpSortImg{
    width: 14px !important;
    min-width: 14px !important;
    max-width: 14px !important;
}
.sb-reservationsSortImg{
    width: 19px !important;
    min-width: 19px !important;
    max-width: 19px !important;
}
.fa-exclamation-triangle{
    position: relative;
    color: #ffc107;
    font-size: 1rem;
    bottom: 4px;
    margin-right: 10px;
}
.sb-dashboardWrapper{
  background-color: #27242e;
  position: relative;
  display: block;
  border-bottom: 8px solid #332f3e;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.sb-locationList{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.sb-locationList span{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sb-optionGet{
    position: relative;
    display: inline-block;
    margin-left: 1.5%;
    margin-right: 1.5%;
    min-width: 60px;
    width: 60px;
    max-width: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
.sb-optionGet:hover{
    opacity: 0.8;
}
.sb-optionGet .fa-star{
    color:rgb(43, 194, 136);
    font-size: 25px;
}
.fa-map-marker-alt{
    position: relative;
    color: #ffc107;
    font-size: 2rem;
}
button.gm-ui-hover-effect:focus,
button.gm-ui-hover-effect:active,
button.gm-ui-hover-effect:focus-within{
    border: unset !important;
}
.spotbie-no-results{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  color: black;
}
.sb-eventsResultsTitle{
    padding-top: 100px;
}
.sb-sorterHead{
    position: relative;
    padding-left: 20px;
    min-width: 100%;
}
.sb-sorterHead td{
    padding: 0px;
}
map-marker > img{
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;
  min-width: 40px;
}
::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background: #1c1924;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg,#35a99f,#64e56f);
}
::-webkit-scrollbar-corner{
    background: linear-gradient(90deg,#35a99f,#64e56f);
}
::-webkit-scrollbar-button{
    background: linear-gradient(90deg,#35a99f,#64e56f);
}
/**WIDTH MEDIA QUERIES */
@media (max-width: 1583px) {
    .spotbie-search-result{
        width: 30%;
        min-width: 30%;
        max-width: 30%;
    }
}
@media (max-width: 1300px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1169px) {
    .spotbie-search-result{
        width: 45%;
        min-width: 45%;
        max-width: 45%;
    }
}
@media (max-width: 1024px) {
    .spotbie-search-results-title{
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .spotbie-controls-search-results{
        position: relative;
        margin: 0 auto;
    }
    .spotbie-search-result-wrapper{
        padding-top: 10px;
    }
}
@media (max-width: 900px) {
    .sb-page-button {
        font-size: 1.4rem !important;
    }
    .sb-page-button{
        border-radius: 5px;
    }
}
@media (max-width: 840px) {
    .spotbie-search-result{
        width: 80%;
        min-width: 80%;
        max-width: 80%;
        height: unset;
        min-height: unset;
        max-height: unset;
    }
    .map-prompt-mobile p{
        width: 90%;
        max-width: 90%;
        min-width: 90%;
    }
    .map-prompt-mobile h4{
        text-align: center;
    }
    .map-prompt-mobile h5{
        font-size: 0.9rem;
        min-width: 90%;
        width: 90%;
        max-width: 90%;
    }
}
@media (max-width: 768px) {
    .spotbie-controls-search-results{
        width: 100%;
        min-width: 100%
    }
    .spotbie-profile-right-close-slider{
        padding-bottom: env(safe-area-inset-bottom);
    }
    .sb-top-headerImg {
        height: 250px;
        min-height: 250px;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat;
    }
    .sb-eventsResultsTitle{
        padding-top: unset;
    }
    .map-prompt-mobile{
        width: 100%;
        min-width: 100%;
    }
    .sb-deliverySortImg{
        width: 13px !important;
        min-width: 13px !important;
        max-width: 13px !important;
    }
    .sb-pickUpSortImg{
        width: 13px !important;
        min-width: 13px !important;
        max-width: 13px !important;
    }
    .sb-reservationsSortImg{
        width: 16px !important;
        min-width: 16px !important;
        max-width: 16px !important;
    }
    .sb-locationList{
        min-width: 90%;
        max-width: 90%;
        font-size: .9rem;
    }
    .spotbie-sub-cat{
        margin-top: 3px;
        font-size: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sb-optionGet{
        min-width: 45px;
        width: 45px;
        max-width: 45px;
    }
    .spotbie-categoryPull{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        background-color: rgba(0,0,0,.25)
    }
    .spotbie-search-results-title{
        width: 386px;
        min-width: 386px;
        max-width: 386px;
        text-align: center;
    }
    .spotbie-single-cat{
        position: relative;
        padding: 15px 10px;
    }
    .spotbie-search-result-wrapper{
        padding-top: unset;
    }
    .spotbie-map.sb-map-results-open,
    .spotbie-agm-map.sb-map-results-open,
    .spotbie-map.sb-map-results-open{
        height: 50vh;
        max-height: 50vh;
        min-height: 50vh;
    }
    .spotbie-map{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .spotbie-search-result-wrapper{
        text-align: center;
    }
}
@media (max-width: 700px) {
    .map-prompt-v-align{
        width: 600px;
    }
}
@media (max-width: 650px){
    .map-prompt-mobile h4{
        font-size: 20px;
        border-bottom: 1px solid #332f3e;
        color: #332f3e;
    }
    .map-prompt-mobile img{
        position: relative;
        margin: 0 auto;
        max-width: 200px;
        display: block;
    }
    .sb-miniLogoIcon{
        margin-top: 1px;
        left: 4px;
        width: 17px;
        max-width: 17px;
        margin-right: 0;
    }
    .spotbie-search-result{
        width: 96%;
        min-width: 96%;
        max-width: 96%;
    }
}
@media (max-width: 600px) {
    .map-prompt-mobile{
        width: 100%;
        min-width: 100%;
    }
    .spotbie-overlay-window{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        left: 0%;
    }
    .spotbie-sorting{
        font-size: 9px;
    }
    .spotbie-close-categories{
        top: -42px;
        bottom: unset;
        left: 21px;
        right: unset;
    }
    .spotbie-map-search-by td{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .spotbie-map-search-by div{
        min-height: 30px;
        height: 30px;
        max-height: 30px;
        width: 80px;
        min-width: 80px;
        max-width: 80px;
    }
    .spotbie-profile-pop{
        position: absolute;
        height: 100%;
        min-height: 100%;
        top: 0%;
        bottom: 0%;
        width: 96%;
        min-width: 96%;
        max-width: 96%;
        padding: 2%;
        border-radius: 0px;
        padding-top: env(safe-area-inset-top);
    }
    .map-prompt-v-align{
        width: 100%;
    }
    .sb-getStarted{
        font-size: 15px;
        max-width: 200px;
        min-width: 200px;
        padding: 8px !important;
        margin-top: 40px;
    }
}
@media (max-width: 560px) {
    .spotbie-search-page-number{
        display: none;
    }
    .spotbie-search-result-image{
        height: 120px;
        min-height: 120px;
        max-height: 120px;
        width: 120px;
        min-width: 120px;
        max-width: 120px;
        border-radius: 5px;
        margin-right: 10px;
    }
    .spotbie-search-result-transactions{
        line-height: 27px;
        text-align: left;
    }
    .spotbie-controls-search-results._mobile{
        padding-left: unset;
        padding-right: unset;
    }
    .spotbie-controls-search-results td{
        border: unset;
    }
    .spotbie-controls-search-results img{
        width: 22px;
        min-width: 22px;
        max-width: 22px;
    }
    .spotbie-close-results{
        display: none;
    }
    .spotbie-close-results-mobile{
        display: block;
    }
    .spotbie-search-results-title{
        text-align: center;
    }
    span.spotbie-button{
        max-width: 46%;
        width: 46%;
        min-width: 46%;
        padding: 0px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .spotie-prompt{
        right: -3%;
        width: 92%;
        min-width: 92%;
        max-width: 92%;
        border-radius: 15px;
        padding: 10px;
    }
    .spotbie-categories{
        padding-top: 70px;
        padding-bottom: 90px;
    }
}
@media (max-width: 460px) {
    .spotbie-single-cat{
        font-size: .7rem;
    }
    .spotbie-category-search-yelp{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
    .spotbie-categories{
        max-width: 200px;
        width: 200px;
        min-width: 200px;
    }
    .spotbie-map-search-by{
        margin-bottom: 0px;
    }
    .spotbie-map-search-wrapper {
        top: 0px;
    }
}
@media (max-width: 420px) {
    .spotbie-search-results-title{
        margin-top: 0px;
        width: 98%;
        min-width: 98%;
        max-width: 98%;
    }
    .spotbie-map-search-by i{
        font-size: 25px;
    }
    .spotbie-map-search-by div{
        min-height: 30px;
        height: 30px;
        max-height: 30px;
        width: 30px;
        min-width: 30px;
        max-width: 30px;
    }
    .spotbie-communityMember-search-result{
        padding: 15px 12px!important;
    }
    .sb-miniLogoIcon{
        margin-top: -8px;
        left: 4px;
    }
}
@media (max-width: 375px) {
    .spotbie-search-result-image{
        height: 100px;
        min-height: 100px;
        max-height: 100px;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }
    .spotbie-controls-search-results img{
        width: 18px;
        min-width: 18px;
        max-width: 18px;
    }
}
@media (max-width: 360px) {
    .spotbie-search-result-image{
        height: 75px;
        min-height: 75px;
        max-height: 75px;
        width: 75px;
        min-width: 75px;
        max-width: 75px;
    }
    .spotbie-close-results{
        top: 16px;
    }
}
@media (max-width: 340px) {
    .spotbie-search-result-image{
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        width: 65px;
        min-width: 65px;
        max-width: 65px;
        margin-right: 5px;
    }
}
@media (max-width: 320px) {
    .spotbie-search-result-image{
        height: 60px;
        min-height: 60px;
        max-height: 60px;
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        margin-right: 3px;
    }
    .spotbie-controls-search-results img {
        width: 13px;
        min-width: 13px;
        max-width: 13px;
    }
    .spotbie-search-results-title{
        margin-bottom: 10px;
    }
}
@media (max-width: 220px) {

}
@media (max-width: 120px) {

}
