<div class="spotbie-overlay-window p-3">
  <h1 class="spotbie-text-gradient">SMS HISTORY</h1>

  <p class="pt-3">
    This is a list of mass test-messages you have sent lately.
  </p>

  <table mat-table
         class="mat-elevation-z8"
         [style.color]="'white'"
         [style.background-color]="'#332f3e'"
         [style.font-size]="'.8em'"
         [dataSource]="(smsGroupList$ | async)"
  >
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Recipients</th>
      <td mat-cell *matCellDef="let smsGroup">{{ smsGroup.total }}</td>
    </ng-container>

    <ng-container matColumnDef="total_sent">
      <th mat-header-cell *matHeaderCellDef>Sent</th>
      <td mat-cell *matCellDef="let smsGroup">{{ smsGroup.total_sent }}</td>
    </ng-container>

    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let smsGroup">{{ smsGroup.body | truncateText: [60] }}</td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Time Sent</th>
      <td mat-cell *matCellDef="let smsGroup">{{ smsGroup.created_at | date : 'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="view_logs">
      <th mat-header-cell *matHeaderCellDef>Error Logs</th>
      <td mat-cell *matCellDef="let smsGroup" (click)="viewGroup(smsGroup)">
        <span class="text-decoration-underline" style="cursor: pointer">View Logs</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div mat-dialog-actions
       [style.color]="'white'"
       [style.background-color]="'#332f3e'"
  >
    <button mat-button [style.color]="'white'" (click)="closeDialog()">Close</button>
  </div>
</div>
