<div>
    <h4 id="sp-loyaltyMenuTitle" class="spotbie-text-gradient text-center text-uppercase mb-4">IN-HOUSE</h4>

    <p class="spotbie-loyaltyMenuDescription spotbie-input-info text-center mt-2 mb-3">
        Local promotions show up on user's SpotBie Map.
    </p>

    <div class='sb-menuAdWrapper'>
        <div class='sb-menuAd' 
                *ngFor="let ad of adList"
                [ngStyle]="adTileStyling(ad)"
                (click)="openAd(ad)">
            <h6>{{ ad.name }}</h6>
        </div>

        <button class='btn spotbie-button text-uppercase mt-3' *ngIf="adList.length < 3" (click)="addAd()">
            NEW PROMOTION
        </button>
    </div>

    <div class='spotbie-text-gradient text-uppercase' (click)="closeWindow()" *ngIf="fullScreenWindow">CLOSE</div>
</div>

<app-ad-creator *ngIf="itemCreator"
                (closeAdCreatorAndRefetchAdListEvt)="closeAdCreatorAndRefetchAdList()"
                (closeWindowEvt)="closeWindow()"
                (closeThisEvt)="closeAdCreator()"
                #adCreator
                [ad]="ad"></app-ad-creator>
