<div>
  <h4 id="sp-loyaltyMenuTitle" class="spotbie-text-gradient text-center text-uppercase mb-3">REWARD MENU</h4>

  <p class="spotbie-loyaltyMenuDescription spotbie-input-info text-center mb-3">
    Rewards that your business will offer to the SpotBie Community.
  </p>

  <div class='sb-menuItemWrapper'>
    <div class='sb-addMenuItem'
         (click)="addItem()"
         *ngIf="(rewards$ | async)?.length < 8">
      <h6 class="spotbie-text-gradient">+ ADD REWARD</h6>
    </div>

    <div class='sb-menuItem'
         *ngFor="let reward of (rewards$ | async)"
         [ngStyle]="rewardTileStyling(reward)"
         (click)="editReward(reward)">

      <h6 *ngIf="reward.type === 0 || reward.type === 2">
          <span class="spotbie-text-gradient">
              {{ reward.name }}
          </span>
      </h6>

      <h6 *ngIf="reward.type === 1">
        <span class='sb-text-light-green-gradient'>
            {{ (reward.point_cost * ((loyaltyPointsBalance$ | async).loyalty_point_dollar_percent_value / 100)) | currency : 'USD' }}
        </span>
        <br/>
        <span class='spotbie-text-gradient' style='font-size: .5rem;'>
            DISCOUNT
        </span>
      </h6>
    </div>

    <ng-container *ngIf="((canUseTiers$ | async) === true); else upgradeForTiers">
      <div style="cursor: pointer;"
           class="mt-4"
           *ngIf="(userType$ | async) !== eAllowedAccountTypes.Personal"
           (click)="manageLoyaltyTiers()">
        <span class='spotbie-text-gradient'>MANAGE TIERS </span><i class='fa fa-coins'></i>
      </div>

      <ng-container *ngIf="(openTiers$ | async) === true">
        <app-tier-creator (closeTiers)="openTiers$.next(false)"></app-tier-creator>
      </ng-container>
    </ng-container>

    <ng-template #upgradeForTiers>
      <div style="cursor: pointer;"
           class="mt-4">
        <span class='spotbie-text-gradient'>Looking for Loyalty Tiers? </span>
        <i class='fa fa-coins'></i><br/>
        <span class="text-decoration-underline" style="color: white; font-size: .7em;">Upgrade to Intermediate.</span>
      </div>
    </ng-template>
  </div>

  <div class='spotbie-text-gradient text-uppercase' (click)="closeWindow()" *ngIf="fullScreenMode">CLOSE</div>
</div>

<app-reward-creator *ngIf="(itemCreator$ | async) === true"
                    (closeRewardCreatorAndRefetchRewardListEvt)="closeRewardCreatorAndRefetchRewardList()"
                    (closeParentWindowEvt)="closeWindow()"
                    (closeRewardCreatorEvt)="closeRewardCreator()"
                    #rewardCreator
                    [reward]="(reward$ | async)"></app-reward-creator>
