<div class='spotbie-toast-input-overlay' (click)="dismissToast()">

    <div class='spotbie-toast-input-box spotbie-confirm-toast-box' 
        *ngIf="helper_config.type == 'confirm'"
        [ngStyle]="{ 'background-color' : bg_color }">
        
        <div class='spotbie-toast-text'>
            {{ helper_config.text.info_text }}
        </div>

        <table class='spotbie-confirm-table'>
            <tr>
                <td (click)="confirm()">
                    <div class='spotbie-button spotbie-button-mini'>{{ helper_config.text.confirm }}</div>
                </td>
                <td (click)="decline()">
                    <div class='spotbie-button spotbie-button-mini'>{{ helper_config.text.decline }}</div>
                </td>
            </tr>
        </table>

    </div>

    <div class='spotbie-toast-input-box spotbie-confirm-toast-box' 
        *ngIf="helper_config.type == 'acknowledge'"
        [ngStyle]="{ 'background-color' : bg_color }">
        
        <div class='spotbie-toast-text'>
            {{ helper_config.text.info_text }}
        </div>

    </div>

</div>