<div>
  <h4 id="sp-loyaltyMenuTitle" class="spotbie-text-gradient text-center text-uppercase mb-4">CUSTOMER MANAGEMENT</h4>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: right">
        <button class="btn spotbie-button mb-3" style="min-width: 250px; width: 250px;" (click)="openTextMessage()">SEND SMS</button>
        <button class="btn spotbie-button" style="min-width: 250px; width: 250px;" (click)="openEmail()">SEND EMAIL</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="mt-4">
    <ion-row style="color: white">
      <ion-col>
        <span (click)="openRecentGuests()">Recent Guests</span>
      </ion-col>
      <ion-col>
        <span (click)="openSmsHistory()">SMS History</span>
      </ion-col>
      <ion-col>
        <span (click)="openEmailHistory()">Email History</span>
      </ion-col>
      <ion-col>
        <span (click)="openFeedback()">Feedback</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="messageSent$ | async">
    <p class="spotbie-text-gradient text-center mt-5">
      Your message was sent successfully.
    </p>
  </ng-container>
</div>
